<a href="https://colab.research.google.com/github/soohyun020812/ormcamp/blob/main/23_12_29_input%EA%B3%BC_print.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 입력(input)

In [2]:
input("입력해주세요 : ")

입력해주세요 : 안녕하세요.

'안녕하세요.'

In [3]:
# input로 받은 값을 변수에 할당하기

name = input("이름을 입력해주세요 : ")

이름을 입력해주세요 : 이수현

In [4]:
print("Hello," + name + "!")

Hello,이수현!

In [7]:
# input을 활용한 덧셈 - 문자열 경우

a = input("첫번째 숫자를 입력해주세요 : ")
b = input("두번째 숫자를 입력해주세요 : ")

print("a+b = ", a+b,"입니다.")

첫번째 숫자를 입력해주세요 : 1
두번째 숫자를 입력해주세요 : 2
a+b =  12 입니다.

In [8]:
# input을 활용한 덧셈 - 숫자형 경우

a = int(input("첫번째 숫자를 입력해주세요 : "))
b = int(input("두번째 숫자를 입력해주세요 : "))

print("a+b = ", a+b,"입니다.")

첫번째 숫자를 입력해주세요 : 1
두번째 숫자를 입력해주세요 : 2
a+b =  3 입니다.

### 출력 (print)

In [9]:
# 여러 줄 출력

"출력합니다"
"출력합니다"

'출력합니다'

In [10]:
# 여러 값 출력

print("Hello", "World", "!")

Hello World !

In [12]:
# sep 구분자

print("Hello", "World", "!", sep="❤")

Hello❤World❤!

In [14]:
# end 구분자

print("Hello", "World", "!", sep="❤", end="~~~")

Hello❤World❤!~~~

### f-string

In [21]:
# f-string에서 f가 없을때

name = "soo"
age = 22
print("제 이름은 {name}이고, 나이는 {age}살 입니다.")

제 이름은 {name}이고, 나이는 {age}살 입니다.

In [22]:
# f-string에서 중괄호가 없을 때

name = "soo"
age = 22
print(f"제 이름은 name이고, 나이는 age살 입니다.")

제 이름은 name이고, 나이는 age살 입니다.

In [24]:
# f-string을 제대로 사용했을때

name = "이수현"
age = 22

print(f"제 이름은 {name}이고, 나이는 {age}살 입니다.")

제 이름은 이수현이고, 나이는 22살 입니다.

### None

In [25]:
a = None
a

In [26]:
print(a)

None