In [1]:
# 리스트 생성 방법

x = [1, 2, 3] # CSV 파일과 비슷 ,
y = ['apple', 'banana', 'cherry']
z = [1, [2], 3] in [2]

In [3]:
print(len(x))
print(y)

3
['apple', 'banana', 'cherry']

In [4]:
print(z)

False

In [5]:
z = [
		1,
		'apple',
		2.5,
		['a', 'b'],
		(1, 2)
]
print(z[0])

1

In [7]:
z = [
		1,
		'apple',
		2.5,
		['a', 'b'],
		(1, 2),
]
print(z[1])

apple

In [8]:
# 특정 항목의 변경

a = [1, 2, 3, 4, 5]
a[0] = 10000
print(a)

[10000, 2, 3, 4, 5]

In [9]:
# 리스트 안에 다차원 리스트 생성

b = [[10, 20, 30], [1, 2, 3]]
print(b[1][2])

3

In [10]:
# 리스트의 덧셈

a = [1, 2, 3, 4, 5]
b = [6, 7, 8]

print(a + b)

[1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
import numpy as np

l = [1, 2, 3]
l = np.array(l)
l * 3
l + l

array([2, 4, 6])

In [14]:
# 리스트의 곱셈

x = [1]
print(x * 3)

[1, 1, 1]

In [15]:
a = [1, 2, 3]
a = a * 3

a[0] = 1000
print(a)

# 중첩되지 않은 리스트의 곱셈은 값이 하나가 변경되어도 다른 값들이 변경되지 않음

[1000, 2, 3, 1, 2, 3, 1, 2, 3]

In [16]:
a = [1, 2, 3]
a = [a * 2] * 2 # 리스트 컴프리헨션 사용하셔서 만드시는 것을 권장함

print(a)
print(id(a[0]), id(a[1]))
a[0][0] = 10000
print(a)

[[1, 2, 3, 1, 2, 3], [1, 2, 3, 1, 2, 3]]
134051718611392 134051718611392
[[10000, 2, 3, 1, 2, 3], [10000, 2, 3, 1, 2, 3]]

In [17]:
# 리스트 인덱싱

l = [1, 2, 3, 4, 5]
print(l[0])
print(l[-3])
print(l[3])
print(l[-1])

1
3
4
5

In [22]:
# 리스트 슬라이싱

l = [1, 2, 3, 4, 5]
print(l[1:4])

[2, 3, 4]

In [23]:
l = [1, 2, 3, 4, 5]
print(l[:])
print(l[::-1])
print(l[::2])
print(l[0:4][::-1])

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 3, 5]
[4, 3, 2, 1]