### lambda 함수

    간결한 함수를 빠르고 익명으로 생성
    작은 규모의 함수를 정의할 때 사용
    코드를 더욱 깔끔하고 효율적

In [1]:
square = lambda x: x*x
print(square(5))

25

In [9]:
map(lambda x:x**2, [1, 2, 3])

In [12]:
def square(x):
    return x**2

map(square, [1, 2, 3])

square = lambda x:x**2
map(square, [1, 2, 3])

In [11]:
# l = lambda

In [6]:
# l = lambda x

In [7]:
# 복습 X
# 실험적 코드로 실무에서 사용 안 하는 코드

l = lambda x: lambda y: y ** x
a = l(2)
b = l(3)
print(a(2))
print(a(3))
print(b(2))
print(b(3))

4
9
8
27

In [8]:
numbers = [1, 2, 3, 4, 5]
print(list(filter(lambda x: x > 3, numbers)))  # 출력: [4, 5]

def f(x):
    return x > 3
numbers = [1, 2, 3, 4, 5]
print(list(filter(lambda x: x > 3, numbers)))  # 출력: [4, 5]

[4, 5]
[4, 5]