*진환강사님의 몸상태로 호준강사님으로 변경됨*

### 리스트
    - 변경이 가능한 자료형
    - 순서가 있는 자료형 (시퀀스, 자료, 인덱싱, 슬라이싱)

In [3]:
# 회색 줄은 영문자 80자, 한글은 32자
# PEP8, PEP20
# 줄이 너무 길면 가독성이 떨어집니다.
# Python 잘 하시는 분 보면 모든지 한 줄로 할려고 하는 분 만나는데
# 이거 안좋은 습관입니다.

print('hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world')

# 해결책 1: 역슬러시 넣는 방법(저는 권고하지 않습니다!, 이스케이 문자랑 혼동될 수 있습니다.)
print('hello worldhello worldhello worldhello worldhello worldhello worldhello \
worldhello world')
print('hello world \n hello world')

# 해결책 2: 콤마를 찍지 않은 연결
print('hello world' 'hello world')
print('hello world'
      'hello world')

hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world
hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world
hello world
 hello world
hello worldhello world
hello worldhello world

In [4]:
# 질문: 메서드 체인으로 길어지면 어떻게 하나요?
# 답: 메서드 체인으로 80자 이상이면 이미 가독성에 문제가 있는 것입니다.
# 메서드 체이닝을 3개 이상을 하길 권하지 않습니다.(가독성이 악화됩니다.)

# 문제 있는 코드
'hello world'.upper().split(' ').pop().lower() # 이렇게 코딩하시면 제가 Reject합니다.

# 문제가 덜한 코드
대문자 = 'hello world'.upper()
잘린대문자 = 대문자.split(' ')

In [2]:
# 문자열 메서드
dir('hello world') # 메서드, 매직메서드, (클래스 변수, 인스턴스 변수)

# 문제1: find와 index 차이
# 실무에서 사용하는 코드:

if 'hello world'.find('hi'): # 실무에서 자주 나오는 오류! 이렇게 코딩하시면 안됩니다.
    print('찾았다!')

# 문제2 isdigit의 정체
'123'.isdigit()
'12h3'.isdigit()

# 문제3 replace가 어디까지 변환하는지?
'hello world hello world'.replace('hello', 'hi') # 모두 다 변환이 됩니다. 몇 개만 변환이 되는 것이 아닙니다.
# 알아두셔야 할 사항: replace는 정규표현식이 안됩니다!
# replace를 정규표현식을 사용하고 싶으면 re.sub를 사용해야 합니다.

# 문제4 strip(공백제거)
# 문제5 zfill(앞에 0으로 채워주는 것, 원하는 자릿수만큼, 시간이나 연도)

찾았다!

'hi world hi world'

In [1]:
L = [10, 20, 30]

# 라인 수가 길어졌을 때
# 권장1
L = [10,
     20,
     30]

# 권장2
L = [
    10,
    20,
    30
]

# + 통신을 할 때 JSON 형식을 사용할 때 마지막에 (,)를 허용하지 않음
# 실무에선 권장2를 더 씀
# - (,) 확인 유무, 편의성 (CtrlC+V 편리) 등의 이유

In [5]:
# -5부터 256은 같습니다.
a = 10
b = 10

print(id(a))
print(id(b))
print(a is b)


a = 257
b = 257

print(id(a))
print(id(b))
print(a is b)

139119690449424
139119690449424
True
139119263723792
139119263723952
False

In [ ]:
0.1 + 0.2 # 0.1이 2진수로 표현했을 때 무한소수입니다.

0.30000000000000004

In [ ]:
# str은 안됩니다!
s = 'hello world'
# s[0] = 'y'

print(s.replace('h', 'y'))
print(s)

yello world
hello world

In [ ]:
# 정답1
s = s.replace('h', 'y')

# 정답2
s = 'y' + s[1:] # 신경써야 하나요? black formatter에서 자동으로 해줍니다. 나중에는 익숙해지니 너무 걱정하지 마세요.

In [ ]:
l = [10, 20, 30, 40, 50]
l[-1]
l[-2:] # 마이너스 인덱싱, 마이너스 슬라이싱은 최종적으로 양수로 치환됩니다.
l[3:]
# 변수명[stop]
# 변수명[start:stop]
# 변수명[start:stop:step]

[40, 50]

In [ ]:
type(l), dir(l)
# type은 검색 키워드, GPT 질문 키워드가 될 수 있습니다.
# dir은 대략적인 속성을 알 수 있습니다.

In [ ]:
# __add__가 있으니 더하기는 어디까지 될까? => 테스트
# __mul__이 있으니 곱하기는 어디까지 될까? => 테스트

l = [10, 20, 30]
# l + 100 # 정수 더하기는 안됩니다!
l + [100]
l + [100, 200]
l * 3 # 정수 곱하기는 됩니다!
# l * [1, 2] # 리스트 곱하기는 안됩니다.

In [ ]:
l = [1, 2, 3] * 3
l[1] = 1000
l

[1, 1000, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 리스트 곱하기는 매우 주의해야 합니다!
# 곱하기가 2중으로 있을 때에는 나중에 배울 리스트컴프리헨션 사용해주세요!
l = [[1, 2, 3] * 3] * 2
l[1][0] = 1000
l

[[1000, 2, 3, 1, 2, 3, 1, 2, 3], [1000, 2, 3, 1, 2, 3, 1, 2, 3]]

In [ ]:
l[1][1] = 10000
l

[[1000, 10000, 3, 1, 2, 3, 1, 2, 3], [1000, 10000, 3, 1, 2, 3, 1, 2, 3]]

In [ ]:
# 암기해주세요.
x = 10 # 스칼라
x = [10] # 벡터
x = [10, 20] # 벡터
x = [[10, 20], [10, 20]] # 메트릭스(행렬)
x = [[[10, 20], [10, 20]], [[10, 20], [10, 20]]] #텐서(3차원 이상 행렬)

In [ ]:
# 텐서플로? google에서 만든 딥러닝 라이브러리
# 인공지능 => 행렬의 연산

In [ ]:
# Ctrl + Alt + 화살표 위나 아래, `print(` 입력했고, end버튼 눌렀고, `)` 입력했습니다.
x = [[1, 2], [3, 'hello world'], [5, 6]]
print(x[1])
print(x[1][1])
print(x[1][1][6:])

[3, 'hello world']
hello world
world

In [ ]:
x = 10

# 다르다는 것만 인지해주세요!
# print를 하는 것과 맨 마지막 출력하는 것은 다릅니다!
print(x) # __str__
x # __repr__

In [ ]:
# Python > 자료형 > list > 메서드

l = [10, 20, 30]
dir(l)

# Shift + Tab
# Ctrl + [, Ctrl + ]
'append',
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort'

In [ ]:
l.append(100)
l

[10, 20, 30, 100]

In [ ]:
# 앞에다 넣는 방법 1
l = [1000] + l

# 앞에다 넣는 방법 2
x = 10000
l = [x] + l[:]

# 앞에다 넣는 방법 3
l.insert(0, 999)
l

[999, 10000, 1000, 10, 20, 30, 100]

In [ ]:
l = [10, 20, 30, 40]
l.pop() # 뒤에서 값을 꺼내는 방법
l

[10, 20, 30]

In [ ]:
l = [10, 20, 30, 40]
l.pop(0) # 앞에서 값을 꺼내는 방법
l

[20, 30, 40]

In [ ]:
l = [10, 20, 30, 40]
l[:-1] # l = l[:-1]
l[1:] # l = l[1:]

[20, 30, 40]

In [ ]:
l = [10, 20, 30, 40]
l.index(20)

In [ ]:
# keep
# index가 애러가 납니다. error 없이 코드를 짜고 싶어요.
# 슬라이싱을 사용합니다. => 슬라이싱은 index가 벗어나더라도 애러가 나지 않습니다.

l = [10, 20, 30, 40]
l[100:101]

[]

In [ ]:
l = [10, 20, 30, 40]
l.clear()
l

[]

In [ ]:
l = [10, 20, 30, 40]
ll = l

l[0] = 1000
ll

id(l), id(ll)
l is ll

True

In [ ]:
l = [10, 20, 30, 40]
ll = l.copy() # 얕은 복사와 깊은 복사가 있는데 이 개념은 뒤에서 알려드립니다.

l[0] = 1000
ll

id(l), id(ll)
l is ll
l, ll

([1000, 20, 30, 40], [10, 20, 30, 40])

In [ ]:
l = [10, 20, 30, 40]
ll = l[:] # 얕은 복사와 깊은 복사가 있는데 이 개념은 뒤에서 알려드립니다.

l[0] = 1000
l, ll

([1000, 20, 30, 40], [10, 20, 30, 40])

In [ ]:
l = [1, 1, 1, 2, 2, 2, 3, 3]
l.count(1)

3

In [ ]:
l = ['1', '1', 1, 2, 2, 2, 3, 3]
l.count(1)

1

In [ ]:
# 분위기 환기차 해드리는 것입니다.
# 이해하지 못하셔도 괜찮습니다.
# https://codingdojang.com/scode/393?answer_mode=hide
str([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]).count('1')
# str(1부터_10000까지_리스트).count('8')
list(range(10))
str(list(range(20)))
str(list(range(20))).count('8')

2

In [ ]:
l = [10, 20, 30, 40]
l.extend([50, 60])
l

[10, 20, 30, 40, 50, 60]

In [ ]:
l = [10, 20, 30, 40]
l.append([50, 60]) # 이것만 기억하셔도 좋습니다. 이렇게 많이 사용합니다.
l

[10, 20, 30, 40, [50, 60]]

In [ ]:
l = [10, 20, 30, 40]
l.extend('hello') # extend(보통리스트), extend(순회가능한객체)
l

[10, 20, 30, 40, 'h', 'e', 'l', 'l', 'o']

In [ ]:
l = [1, 1, 1, 1, 2, 2, 3, 3, 3]
l.remove(1) # 한가지 요소를 지울 때 사용
l

[1, 1, 1, 2, 2, 3, 3, 3]

In [ ]:
# 이해하지 않으셔도 됩니다.
# 여기서 catch해야할 포인트는 모든 요소를 filtering하고 싶을 때에는
# remove가 아니라 filter라는 것을 사용한다!
def f(x):
    return x != 1

l = [1, 1, 1, 1, 2, 2, 3, 3, 3]
list(filter(f, l))

[2, 2, 3, 3, 3]

In [ ]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.reverse()
l # 역정렬은 아닙니다. # 원본이 변합니다.(입력된 원본은 대부분 보존하려 노력합니다.)

# 역순은 단순히 순서를 뒤집는 것이고
# 역 정렬은 정렬의 역순입니다.

[7, 6, 5, 9, 4, 3, 2, 1]

In [ ]:
# reversed는 잊으셔도 됩니다. l.reverse만 기억하세요.
l = [1, 2, 3, 4, 9, 5, 6, 7]
list(reversed(l)) # reversed는 원본을 변경하지 않습니다.

[7, 6, 5, 9, 4, 3, 2, 1]

In [ ]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.sort()
l # 원본을 바꾸는 정렬

[1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.sort()
l.reverse()
l # 원본을 바꾸는 역정렬

[9, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# sorted는 잊으셔도 됩니다. l.sort만 기억하세요.
l = [1, 2, 3, 4, 9, 5, 6, 7]
sorted(l) # sorted 원본을 변경하지 않습니다.

[1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
# sort, sorted, reverse, reversed 알고리즘 문제에서도 1개 문제는 거의 나온다고 보시면 됩니다.
# 옵션 값은 하지 않았습니다.
# 옵션 값을 하지 않은 이유 : 함수까지는 배우셔야 좀 더 고급 문법이 가능합니다.

In [3]:
# 어떻게 사용되는지만 체크! (뒤에서 다시 하겠습니다.)
# 국어 점수가 가장 높은 순으로 정렬해주세요.
# 국, 영, 수, 이름
s = [[100, 87, 91, '이순신'], [56, 38, 89, '이수현'], [33, 86, 100, '홍길동']]

def f(x):
    return x[0]

sorted(s, key=f)
sorted(s, key=f, reverse=True)

[[100, 87, 91, '이순신'], [56, 38, 89, '이수현'], [33, 86, 100, '홍길동']]

In [4]:
# 평균 점수가 가장 높은 순으로 정렬해주세요.
s = [[100, 87, 91, '이순신'], [56, 38, 89, '이수현'], [33, 86, 100, '홍길동']]

def f(x):
    return x[0] + x[1] + x[2]

sorted(s, key=f)
sorted(s, key=f, reverse=True)

[[100, 87, 91, '이순신'], [33, 86, 100, '홍길동'], [56, 38, 89, '이수현']]