<a href="https://colab.research.google.com/github/soohyun020812/ormcamp/blob/main/24_01_03_%ED%98%95%EB%B3%80%ED%99%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 형변환 기본 예제

월급 = int(input("월급을 입력하세요 : "))
연봉 = 월급 * 12

print(연봉)

월급을 입력하세요 : 400
4800

In [ ]:
월급 = input("월급을 입력하세요 : ")
연봉 = int(월급) * 12

print(연봉)

월급을 입력하세요 : 400
4800

| Built-in Function | 기능 |
| --- | --- |
| int() | 정수로 변환 |
| str() | 문자열로 변환 |
| float() | 실수로 변환 |
| list() | 리스트로 변환 |
| tuple() | 튜플로 변환 |
| dict() | 딕셔너리로 변환 |
| set() | 셋으로 변환 |

In [ ]:
# str에서 int로 형변환

num = '123'
print(type(num))

num = int(num)
print(type(num))

<class 'str'>
<class 'int'>

In [ ]:
# float에서 int로 형변환

f = 3.14159
number = int(f)

print(number)

3

In [ ]:
# bool → int로 형변환

true_int = int(True)
false_int = int(False)

print(true_int)
print(false_int)

1
0

**None은 int로 형변환이 불가능함**

In [ ]:
# int와 float을 str으로 변환

n = 123
print(type(n))

m = 123.4
print(type(n))

n = str(n)
print(type(n))

m = str(m)
print(type(m))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>

bool형으로 형변환

- `bool()` 함수는 다양한 파이썬 데이터 타입을 불리언(`True` 또는 `False`) 값으로 변환
- 이 변환의 핵심은 대부분의 값들이 어떻게 `True` 또는 `False`

1. 조건문의 명확성 : 조건문 다음에 값이 True, False로 평가되는 것에 따라 분기가 달라짐
2. 데이터 유효성 검사 : 많은 경우에, 데이터가 존재하거나 유효한지 확인 해야 함
3. 값의 존재 여부 판단 : 파이썬에서는 빈 문자열, 빈 리스트, 0, None 등이 `False`로 평가됨, 이 특징을 이용하면 값의 존재 여부나 유효성을 간편하게 판단할 수 있음

In [ ]:
print("bool('test'):", bool('test'))
print("bool(' '):", bool(' '))
print("bool(''):", bool(''))
print("bool(100):", bool(100))
print("bool(1):", bool(1))
print("bool(0):", bool(0))
print("bool(-1):", bool(-1))
print("bool(None):", bool(None))
print("bool([]):", bool([]))
print("bool(tuple()):", bool(tuple()))
print("bool({}):", bool({}))
print("bool(set()):", bool(set()))

bool('test'): True
bool(' '): True
bool(''): False
bool(100): True
bool(1): True
bool(0): False
bool(-1): True
bool(None): False
bool([]): False
bool(tuple()): False
bool({}): False
bool(set()): False

In [ ]:
# float형으로 형변환

s = 10
print(float(s))

s = '10'
print(float(s))

s = '3.14'
print(float(s))

10.0
10.0
3.14

In [ ]:
# inf, -inf, nan 같은 특별한 문자열은 float()를 사용해 변환

infinity = float('inf')
neg_infinity = float('-inf')
not_a_number = float('nan')

In [ ]:
#  정수와 실수의 나눗셈 같은 경우 항상 float를 반환

10 / 1

10.0

In [ ]:
# str를 list로 변환

s = '10'
print(list(s))

name = 'licat'
print(list(name))

['1', '0']
['l', 'i', 'c', 'a', 't']

In [ ]:
# int를 list로 변환

n = 10
# print(list(n)) # error
# 정수형은 list로 변환이 가능하지 않음

In [ ]:
# tuple형으로 형변환

name = 'licat'
tuple(name)

('l', 'i', 'c', 'a', 't')

In [ ]:
# dict형으로 형변환

# name = 'licat' # error
# dict(name)
# 딕셔너리 자료형은 key와 value로 이루어져서 일반 문자열은 변환이 되지 않음

In [ ]:
data = [('name','licat'),('age',10)]
d = dict(data)
d

{'name': 'licat', 'age': 10}

In [ ]:
# set형으로 형변환

s = 'weniv CEO licat'
print(set(s)) # 중복을 허락하지 않고 순서가 없음
print(len(set(s))) # 중복을 제거한 상태로의 길이를 알려줌
print(len(s))

{'c', 'a', 'n', 'C', 't', 'e', 'E', 'v', 'i', 'l', 'w', 'O', ' '}
13
15

In [ ]:
# + 문자열에 닷(.)이 포함되어 있으면 정수로 변환되지 않음

'''
x = 1.0
x = str(x)
print(int(x))
'''

# 조건을 만들어 형변환을 진행 or float형으로 먼저 변환 후 int로 변환해야 함

x = 1.0
x = str(x)
if x.find('.') == -1:
    print(int(x))
else:
    print(float(x))

1.0

In [ ]:
x = 1.0
x = str(x)
int(float(x))

1

In [ ]:
# map 형변환

list(map(int, ['10', '20', '30']))

[10, 20, 30]

In [ ]:
list(map(int, '12345'))

[1, 2, 3, 4, 5]