### **기본 역량 문제 풀이 20문제 (프로그래머스 10 + pyalgo 10)**

In [12]:
'''
def solution(data):
    return

solution()
'''

'\ndef solution(data):\n    return\n\nsolution()\n'

In [5]:
3# 코딩 인터뷰 완전분석
# 듣기
# 예제
# 무식하게 풀기(V)
# 최적화
# 검토하기
# 구현하기
# 테스트

### 홀수, 짝수 찾기
링크: https://school.programmers.co.kr/learn/courses/30/lessons/120824

In [7]:
def solution(data):
    count = 0
    for i in data:
        if i % 2 == 0:
            count += 1
    return [count, len(data)-count]

In [8]:
def solution(data):
    홀수 = [i % 2 != 0 for i in data]
    짝수 = [i % 2 == 0 for i in data]
    # print(홀수, 짝수)
    return [sum(짝수), sum(홀)]

In [9]:
def solution(num_list):
    answer = [0, 0]
    for i in num_list:
        answer[i % 2] += 1
    return answer

In [10]:
# 좋은 풀이는 아님
# data의 가변 최대치를 봄

def solution(data):
    짝수 = [i % 2 == 0 for i in data]
    return [sum(짝수), len(data) - sum(짝수)] # sum이 순회

In [11]:
def solution(data):
    짝수 = [i % 2 == 0 for i in data]
    갯수 = sum(짝수)
    return [갯수, len(data) - 갯수]

### 머쓱이보다 키 큰 사람
링크 : https://school.programmers.co.kr/learn/courses/30/lessons/120585

In [13]:
def solution(array, height):
    pass

solution([149, 180, 192, 170], 167)

In [14]:
# 이렇게 언패킹 해서 사용할 수 있는 것들은 언패킹 할 것
# 가독성이 좋아짐

def solution(data):
    array, height = data
    pass

solution([[149, 180, 192, 170], 167])

In [15]:
def solution(array, height):
    count = 0
    for i in array:
        if i > height:
            count += 1
    return count

solution([149, 180, 192, 170], 167)

3

In [16]:
# filter는 len가 없음

def solution(array, height):
    return len(list(filter(lambda x: x > height, array)))

solution([149, 180, 192, 170], 167)

# 왜? filter에는 len가 없지?
# filter는 순회 돌기 전까지 실행이 되지 않은 함수
# for와 같이 순회를 돌아야 그때서야 각 원소 별로 접근해서
# 주문만 하고 아직 제조되지 않은 커피
# 커피를 달라고 소리쳐야(순회, 형변환) 그때야 제조가 됨

3

In [17]:
def solution(array, height):
    return sum(map(lambda x: x > height, array))

solution([149, 180, 192, 170], 167)

3

In [18]:
def solution(array, height):
    return sum([i > height for i in array])

solution([149, 180, 192, 170], 167)

3

In [19]:
def solution(array, height):
    return sum(i > height for i in array)

solution([149, 180, 192, 170], 167)

3

### 숨어있는 숫자의 덧셈
링크: https://school.programmers.co.kr/learn/courses/30/lessons/120851

In [20]:
# 오답, 그러나 이렇게도 많이 사용

def solution(my_string):
    count = 0
    for i in my_string:
        if i.isdigit():
            count += 1

solution("aAb1B2cC34oOp")

In [21]:
def solution(my_string):
    result = 0
    for i in my_string:
        if i.isdigit():
            result += int(i)

    return result

solution("aAb1B2cC34oOp")

10

In [22]:
# 효율적이진 않지만, 문법 복습차원에서

def solution(my_string):
    return list(filter(lambda x: x.isdigit(), list(my_string)))

solution("aAb1B2cC34oOp")

['1', '2', '3', '4']

In [23]:
# 효율적이진 않지만, 문법 복습차원에서

def solution(my_string):
    return list(filter(str.isdigit, list(my_string)))

solution("aAb1B2cC34oOp")

['1', '2', '3', '4']

In [24]:
# 효율적이진 않지만, 문법 복습차원에서

def solution(my_string):
    return list(filter(str.isdigit, my_string))

solution("aAb1B2cC34oOp")

['1', '2', '3', '4']

In [25]:
# isdigit에 () 가 있고 없고의 차이는?

def 함수(x):
    return x.isdigit()

def solution(my_string):
    return list(filter(함수, my_string))

solution("aAb1B2cC34oOp")

['1', '2', '3', '4']

In [26]:
# 효율적이진 않지만, 문법 복습차원에서

def solution(my_string):
    return sum(map(int,(filter(str.isdigit, my_string))))

solution("aAb1B2cC34oOp")

10

In [27]:
# 효율적이진 않지만, 문법 복습차원에서

def solution(my_string):
    return sum(map(lambda x: int(x) if x.isdigit() else False, my_string))

solution("aAb1B2cC34oOp")

10

In [28]:
# r은 raw 날것의 라는 뜻이 있음
# 실무에서 자주쓰는 용어, raw != low(이 용어는 자주 사용하지 않음)
# raw data를 전달해줘 => 가공하지 않은 순수 데이터를 달라는 얘기

r'hello\nworld' # \n 이스케이프 문자
print('hello\nworld')
print(r'hello\nworld') # 왜? 정규표현식에서 이스케이프 문자를 많이 사용

hello
world
hello\nworld

In [29]:
import re

re.findall(r'[0-9]', "aAb1B2cC34oOp")

['1', '2', '3', '4']

In [30]:
import re

def solution(s):
    return sum(map(int, re.findall(r'[0-9]', s)))

solution('aAb1B2cC34oOp')

10

In [31]:
import re

def solution(s):
    return sum(map(int, (re.sub(r'[a-zA-Z]', '', s))))

solution('aAb1B2cC34oOp')

10

### 암호해독
링크: https://school.programmers.co.kr/learn/courses/30/lessons/120892

In [32]:
def solution(cipher, code):
    return cipher[code-1::code]

solution("dfjardstddetckdaccccdegk", 4)

'attack'

In [33]:
def solution(cipher, code):
    count = 1
    for i in cipher:
        if count == code:
            print(i)
            count = 0
        count += 1

solution("dfjardstddetckdaccccdegk", 4)

a
t
t
a
c
k

In [34]:
def solution(cipher, code):
    count = 1
    for i, j in enumerate(cipher, 1):
        if i % code == 0:
            print(j)

solution("dfjardstddetckdaccccdegk", 4)

a
t
t
a
c
k

In [35]:
# 3 7 11 15
# 이런 풀이는 권하지 않음

def solution(cipher, code):
    result = ''
    for i in range(1, len(cipher) // 4 + 1):
        result += cipher[i * code - 1]
    print(result)

solution("dfjardstddetckdaccccdegk", 4)

attack

In [36]:
# 3 7 11 15
# 이런 풀이는 권하지 않음

def solution(cipher, code):
    result = ''
    for i in range(1, len(cipher) // code + 1):
        result += cipher[i * code - 1]
    return result

solution("dfjardstddetckdaccccdegk", 4)

'attack'

In [37]:
s = 0
for i in range(1, 101):
    s += i
print(s)

n = 100
s = n * (n + 1) // 2
print(s)

5050
5050

### 369게임
링크: https://school.programmers.co.kr/learn/courses/30/lessons/120891

In [39]:
def solution(order):
    order = str(order)
    return order.count('3') + order.count('6') + order.count('9')

solution('29423')

2

In [40]:
import re

re.findall(r'[369]', '1231231234839291')

['3', '3', '3', '3', '9', '9']

In [41]:
import re

def solution(order):
    order = str(order)
    return len(list(re.findall(r'[369]', order)))

### 중복문자 제거
링크: https://school.programmers.co.kr/learn/courses/30/lessons/120888

In [43]:
set("people") # 중복 제거 완료, 그러나 순서를 보장하지 않음

{'e', 'l', 'o', 'p'}

In [44]:
def solution(s):
    answer = ''
    for i in s:
        if i not in answer:
            answer += i
    print(answer)

solution('people')

peol

In [45]:
def solution(s):
    answer = ''
    for i in s:
        if i not in answer:
            answer += i
    return answer

solution('people')

'peol'

In [46]:
def solution(my_string):
    return dict.fromkeys(my_string) # 딕셔너리는 키의 중복이 안된다는 점을 이용, dict는 이제 순서를 보장

solution('people')

{'p': None, 'e': None, 'o': None, 'l': None}

In [47]:
def solution(my_string):
    return ''.join(dict.fromkeys(my_string))

solution('people')

'peol'

In [48]:
''.join(['hello', 'world', '!'])
''.join({'hello', 'world', '!'})
''.join({'one': 10, 'two': 20}) # 왜? dict를 for문을 돌았을 때 key만 나오는 이유와 같음

'onetwo'

In [49]:
str.isdigit
dict.fromkeys('hello')
dict.fromkeys('abccba')

{'a': None, 'b': None, 'c': None}

### A로 B 만들기
링크: https://school.programmers.co.kr/learn/courses/30/lessons/120886

In [50]:
# 3시간, 4시간, 1문제당 30분 ~ 40분
# 앞에 문제는 20분 내에 푸는 문제도 있어야 함
# Lv 1 ~ 2는 20분 ~ 40분 내에 풀어야 함
# 실전에서는 Lv1 ~ 2도 1시간 걸려도 됨
# Lv4 ~ Lv5 포기
################
# 연습하면서 Lv0 10분 ~ 20분 고민하셨으면 정답을 보시고 외우시는 편이 좀 더 편함

In [51]:
def solution(before, after):
    if len(before) != len(after): # 예외 처리는 앞에서 반드시, 특히나 요소가 없거나 길이가 0인 경우
        return 0
    return 1 if sorted(before) == sorted(after) else 0

solution("olleh", "hello")

1

In [52]:
import collections


# collections.Counter("olleh") == collections.Counter("hello")
# collections.Counter("olleh") == collections.Counter("hhhhhhhhhello")
collections.Counter("olleh")

Counter({'o': 1, 'l': 2, 'e': 1, 'h': 1})

In [53]:
def solution(before, after):
    a = list(after)
    for i in before:
        if i in a:
            a.remove(i)
        else:
            return 0
    if a:
        return 0
    return 1

solution("olleh", "hello")

1

In [54]:
# 회문

# 'hello' => 'elloh' => 'llohe'
# 'hello' => 'ohell' => 'lohel'
# collections.deque를 사용해서 풀면 쉽게 풀림

# 문제1 'hello'를 앞뒤로 이동시켜 'llohe'를 만들 수 있나요?
# 'hellohello'

# 문제2 몇칸 이동했나요?
# 'hellohello'.index('llohe')

### 저주의 숫자 3
링크: https://school.programmers.co.kr/learn/courses/30/lessons/120871

In [55]:
# 십진수    3숫자마을
# 1         1
# 2         2
# 3         4
# 4         5
# 5         7
# 6         8
# 7         10
# 8         11
# 9         14
# 10        16

In [56]:
# [True, True, False]...

In [57]:
# filter('3이 들어간 숫자 없애기', filter('3의 배수 없애기', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

In [58]:
list(filter(lambda x: (x % 3 != 0) and ('3' not in str(x)), range(100)))[15-1]

25

In [59]:
def solution(num):
    return list(filter(lambda x: (x % 3 != 0) and ('3' not in str(x)), range(1000)))[num-1]

solution(15)

25

In [60]:
solution = lambda n:[i for i in range(10000) if i % 3 != 0 and '3' not in str(i)][n-1]

In [61]:
def solution(num):
    l = []
    for i in range(1000):
        if i % 3 != 0:
            l.append(i)
        elif '3' not in str(i):
            l.append(i)
    print(l)

solution(15)

[0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 124, 125, 126, 127, 128, 129, 130, 131, 133, 134, 136, 137, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 232, 233, 235, 236, 238, 239, 240, 241, 242, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 301, 302, 304, 305, 307, 308, 310, 311, 313, 314, 316, 317, 319, 320, 322, 323, 325, 326, 328, 329, 331, 332, 334, 335, 337, 338, 340, 341, 343, 344, 346, 347, 349, 350, 352, 353, 355, 356, 358, 359, 361, 362, 364, 365, 367, 368, 370, 371, 373, 374, 376, 377, 379, 380, 382, 383, 385, 386, 388, 389, 391, 392, 394, 395, 397, 398, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 424, 425, 426, 427, 428, 429, 430, 431, 433, 434, 436, 437, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 532, 533, 535, 536, 538, 539, 540, 541, 542, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 631, 632, 634, 635, 637, 638, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 724, 725, 726, 727, 728, 729, 730, 731, 733, 734, 736, 737, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 832, 833, 835, 836, 838, 839, 840, 841, 842, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 931, 932, 934, 935, 937, 938, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 994, 995, 996, 997, 998, 999]

### 진료순서 정하기
링크: https://school.programmers.co.kr/learn/courses/30/lessons/120835

In [62]:
# emergency     result
# [3, 76, 24]   [3, 1, 2]

def solution(emergency):
    sorted_emergency = sorted(emergency, reverse=True)
    return [sorted_emergency.index(i) + 1 for i in emergency]


solution([3, 76, 24])

[3, 1, 2]

In [63]:
# 좋은 문제
emergency = [3, 76, 24]

sorted_emergency = sorted(emergency, reverse=True)
sorted_emergency

# 원하는 결과값 [3, 1, 2]
[sorted_emergency.index(i) + 1 for i in emergency]

[3, 1, 2]

In [64]:
data = ['제주', '경기', '전주'] # ['064', '031', '063']
data2 = {
    '제주': '064',
    '경기': '031',
    '전주': '063'
}

[data2[i] for i in data]

['064', '031', '063']

### 가까운 수
링크: https://school.programmers.co.kr/learn/courses/30/lessons/120890

In [65]:
# [3, 10, 28] => [17, 10, 8]
# 원하는 숫자: 20
# result: 28

In [66]:
l = [3, 10, 28]
sorted(l, key=lambda x: abs(x - 20))[0]

28

In [67]:
# 오류
def solution(array, n):
    return sorted(array, key=lambda x: abs(x - n))[0]

In [68]:
def solution(array, n):
    return sorted(array, key=lambda x:(abs(x-n), x))[0]

In [69]:
# [3, 10, 28, 30, 12] => [17, 10, 8, 10, 8]
# [3, 10, 28, 30, 12] => [(17, 3), (10, 10), (8, 28), (10, 30), (8, 12)]
# 원하는 숫자: 20
# result: 28

array = [3, 10, 28, 30, 12]
n = 20

# 28 - 20 == 8
# 12 - 20 == -8

# 20 - 28 == -8
# 20 - 12 == 8

sorted(array, key=lambda x:(abs(x-n), x))[0]
sorted(array, key=lambda x:(abs(x-n), n-x))[0] # 팁, n-x이거나 x-n 2개 중에 하나

28

### k의 개수

링크: https://school.programmers.co.kr/learn/courses/30/lessons/120887

In [70]:
# i	j	k
# 1	13	1

i = 1
j = 13
k = 1

str(list(range(i, j+1)))
'[1, 11, 13]'.count('1')

str(list(range(i, j+1))).count(str(k))

6

In [71]:
a = 10
b = 20

# swap
temp = a
a = b
b = temp

# python에서 사용하는 swap
a = 10
b = 20
a, b = b, a
a, b

(20, 10)

In [72]:
i = 1
j = 13
k = 1

count = 0
for temp in range(i, j):
    count += str(temp).count(str(k))

count

5