### 3. 열의 생성과 삭제

In [1]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
})

In [3]:
# 이건 많이 사용하지 않음
# concat / join -> 데이터 결합
'''
df['Salary'] = # 다른 데이터 프레임에서 가져오는 경우
print(df)
'''

"\ndf['Salary'] = # 다른 데이터 프레임에서 가져오는 경우\nprint(df)\n"

In [4]:
# drop(중요)
# Data 컬럼 천개! ->
#1. ram 효율을 증대하기 위해서 import할때만 전체 -> 작업 필요한 변수
#2. 머신러닝 / 딥러닝 ! -> 분석에 필요한 변수만 가져올 때

df = df.drop('Age', axis=1) #axis=1 열/컬럼 (주의)
print(df)

      Name
0    Alice
1      Bob
2  Charlie