### for문
    - 특정 범위나 순서열(ex 리스트, 문자열 등)을 순회하며 순서열의 끝에 도달하면 반복을 멈춤
    - 객체를 처음부터 끝까지 하나씩 추출하며 순회하기 때문에 다양한 방식으로 활용

```
# for문의 기본구조

for 변수명 in 순회_가능한_객체 :
    pass # 수행할_문장
```

In [1]:
# 시퀀스 자료형에 대표적인 문자열 순회

for x in 'hello': # 순회 가능한 객체가 들어갑니다.
    print(f'현재 값은 {x} 입니다.')

# 반복문에서는 i, j, k를 많이 사용

현재 값은 h 입니다.
현재 값은 e 입니다.
현재 값은 l 입니다.
현재 값은 l 입니다.
현재 값은 o 입니다.

In [2]:
#시퀀스 자료형인 튜플을 반복

for x in (1, 2, 3, 4, 5):
    print(f'현재 값은 {x} 입니다.')

현재 값은 1 입니다.
현재 값은 2 입니다.
현재 값은 3 입니다.
현재 값은 4 입니다.
현재 값은 5 입니다.

In [3]:
# 문자열(str) 자료형을 범위로 지정한 예시
# 문자열 s를 순회하면서 각 문자를 i 변수에 할당하여 문자를 출력

s = 'hello world'
for i in s:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [4]:
# 숫자를 모두 더하는 예제

s = '123'
result = 0
for i in s:
    result += int(i)

print(result)

6

In [5]:
# 리스트(list) 자료형을 범위로 지정한 예시
# 리스트의 각 요소를 순회하면서 출력

l = ['one', 'two', 'three']
for i in l:
    print(i)

one
two
three

In [6]:
# 사전(dict) 자료형을 범위로 지정한 예시
# for 문을 이용하여 dict 자료형을 순회하면 key(키)만을 가져옴

단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for i in 단어_사전:
    print(i)

하나
둘
셋

In [7]:
# key(키)에 해당하는 value(값) 또한 가져오고 싶다면 아래와 같이 튜플 언패킹 사용

for key, value in 단어_사전.items():
    print(f'{key} : {value}')

하나 : one
둘 : two
셋 : three

In [8]:
# 딕셔너리의 키를 순회하면서 각 키에 해당하는 값을 출력

for i in 단어_사전:
    print(i, ':', 단어_사전[i])

하나 : one
둘 : two
셋 : three

### range를 **범위로 지정한 예시**

    - range는 앞 챕터 built-in function에서 다룸
    - range(시작_값, 종료_값, 연속하는_두_수의_차) 형식

In [9]:
for i in range(5):
    print(i)

0
1
2
3
4

In [10]:
# 0이상 10이하 짝수만 더하는 코드
# 10이하기 때문에 range의 종료값은 11이 되어야 함 (종료값 -1까지 값 생성)

result = 0
for i in range(0, 11, 2):
    result += i
result

30

In [11]:
# 1부터 100까지 더하기

result = 0
for i in range(101):
    result += i
result

5050

In [12]:
n = 100
result = (n + 1) * n / 2
result

5050.0

In [13]:
# 짝수만 더하기

result = 0

# 리스트라면 비어있는 리스트라도 만들어야 함, result = []
# 비어있는 자료형도 자료형, None도 자료형

for i in range(101): # 시퀀스 자료형 불러오기
    if i % 2 == 0: # 짝수만 가져오기
        result += i # 가져온 짝수 누적으로 더하기
result

2550

In [14]:
result = 0
for i in range(0, 101, 2):
    result += i
result

2550

### 중첩 for문

In [15]:
[
    [1, 2],
    [10, 20],
    [100, 200]
]

[[1, 2], [10, 20], [100, 200]]

In [16]:
# code1
# 언패킹을 하지 않고 하나의 변수에서 확인

for i in [[1, 2], [10, 20], [100, 200]]:
    print(i)

[1, 2]
[10, 20]
[100, 200]

In [17]:
# code2
# i는 리스트를 받았으므로 순회를 할 수 있음
# 첫 값인 [1, 2]를 받았을 때에는 아래와 같이 순회가 가능

for j in [1, 2]:
    print(j)

1
2

In [18]:
for i in [[1, 2], [10, 20], [100, 200]]:
    for j in i:
        print(j)

1
2
10
20
100
200

In [19]:
# print()문 추가

for i in [[1, 2], [10, 20], [100, 200]]:
    for j in i:
        print(i)
        print(j)

# 어떤 값을 순회하고 있는지도 확인을 할 수 있음
# 순회하고자 하는 값에 또 다시 순회를 하고 싶을 때에는 중첩 반복문을 사용

[1, 2]
1
[1, 2]
2
[10, 20]
10
[10, 20]
20
[100, 200]
100
[100, 200]
200

In [20]:
# 9*9단

for i in range(2, 10):
    print(f'---{i}단---')
    for j in range(1, 10):
        print(f'{i} X {j} = {i * j}')

---2단---
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
---3단---
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
---4단---
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
---5단---
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
---6단---
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
---7단---
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
---8단---
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
---9단---
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [21]:
# 19*19단

for i in range(2, 20):
    print(f'---{i}단---')
    for j in range(1, 20):
        print(f'{i} X {j} = {i * j}')

---2단---
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24
2 X 13 = 26
2 X 14 = 28
2 X 15 = 30
2 X 16 = 32
2 X 17 = 34
2 X 18 = 36
2 X 19 = 38
---3단---
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
3 X 11 = 33
3 X 12 = 36
3 X 13 = 39
3 X 14 = 42
3 X 15 = 45
3 X 16 = 48
3 X 17 = 51
3 X 18 = 54
3 X 19 = 57
---4단---
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
4 X 11 = 44
4 X 12 = 48
4 X 13 = 52
4 X 14 = 56
4 X 15 = 60
4 X 16 = 64
4 X 17 = 68
4 X 18 = 72
4 X 19 = 76
---5단---
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
5 X 11 = 55
5 X 12 = 60
5 X 13 = 65
5 X 14 = 70
5 X 15 = 75
5 X 16 = 80
5 X 17 = 85
5 X 18 = 90
5 X 19 = 95
---6단---
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
6 X 11 = 66
6 X 12 = 72
6 X 13 = 78
6 X 14 = 84
6 X 15 = 90
6 X 16 = 96
6 X 17 = 102
6 X 18 = 108
6 X 19 = 114
---7단---
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
7 X 11 = 77
7 X 12 = 84
7 X 13 = 91
7 X 14 = 98
7 X 15 = 105
7 X 16 = 112
7 X 17 = 119
7 X 18 = 126
7 X 19 = 133
---8단---
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
8 X 11 = 88
8 X 12 = 96
8 X 13 = 104
8 X 14 = 112
8 X 15 = 120
8 X 16 = 128
8 X 17 = 136
8 X 18 = 144
8 X 19 = 152
---9단---
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
9 X 11 = 99
9 X 12 = 108
9 X 13 = 117
9 X 14 = 126
9 X 15 = 135
9 X 16 = 144
9 X 17 = 153
9 X 18 = 162
9 X 19 = 171
---10단---
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100
10 X 11 = 110
10 X 12 = 120
10 X 13 = 130
10 X 14 = 140
10 X 15 = 150
10 X 16 = 160
10 X 17 = 170
10 X 18 = 180
10 X 19 = 190
---11단---
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110
11 X 11 = 121
11 X 12 = 132
11 X 13 = 143
11 X 14 = 154
11 X 15 = 165
11 X 16 = 176
11 X 17 = 187
11 X 18 = 198
11 X 19 = 209
---12단---
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120
12 X 11 = 132
12 X 12 = 144
12 X 13 = 156
12 X 14 = 168
12 X 15 = 180
12 X 16 = 192
12 X 17 = 204
12 X 18 = 216
12 X 19 = 228
---13단---
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130
13 X 11 = 143
13 X 12 = 156
13 X 13 = 169
13 X 14 = 182
13 X 15 = 195
13 X 16 = 208
13 X 17 = 221
13 X 18 = 234
13 X 19 = 247
---14단---
14 X 1 = 14
14 X 2 = 28
14 X 3 = 42
14 X 4 = 56
14 X 5 = 70
14 X 6 = 84
14 X 7 = 98
14 X 8 = 112
14 X 9 = 126
14 X 10 = 140
14 X 11 = 154
14 X 12 = 168
14 X 13 = 182
14 X 14 = 196
14 X 15 = 210
14 X 16 = 224
14 X 17 = 238
14 X 18 = 252
14 X 19 = 266
---15단---
15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150
15 X 11 = 165
15 X 12 = 180
15 X 13 = 195
15 X 14 = 210
15 X 15 = 225
15 X 16 = 240
15 X 17 = 255
15 X 18 = 270
15 X 19 = 285
---16단---
16 X 1 = 16
16 X 2 = 32
16 X 3 = 48
16 X 4 = 64
16 X 5 = 80
16 X 6 = 96
16 X 7 = 112
16 X 8 = 128
16 X 9 = 144
16 X 10 = 160
16 X 11 = 176
16 X 12 = 192
16 X 13 = 208
16 X 14 = 224
16 X 15 = 240
16 X 16 = 256
16 X 17 = 272
16 X 18 = 288
16 X 19 = 304
---17단---
17 X 1 = 17
17 X 2 = 34
17 X 3 = 51
17 X 4 = 68
17 X 5 = 85
17 X 6 = 102
17 X 7 = 119
17 X 8 = 136
17 X 9 = 153
17 X 10 = 170
17 X 11 = 187
17 X 12 = 204
17 X 13 = 221
17 X 14 = 238
17 X 15 = 255
17 X 16 = 272
17 X 17 = 289
17 X 18 = 306
17 X 19 = 323
---18단---
18 X 1 = 18
18 X 2 = 36
18 X 3 = 54
18 X 4 = 72
18 X 5 = 90
18 X 6 = 108
18 X 7 = 126
18 X 8 = 144
18 X 9 = 162
18 X 10 = 180
18 X 11 = 198
18 X 12 = 216
18 X 13 = 234
18 X 14 = 252
18 X 15 = 270
18 X 16 = 288
18 X 17 = 306
18 X 18 = 324
18 X 19 = 342
---19단---
19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190
19 X 11 = 209
19 X 12 = 228
19 X 13 = 247
19 X 14 = 266
19 X 15 = 285
19 X 16 = 304
19 X 17 = 323
19 X 18 = 342
19 X 19 = 361

### 컴프리헨션 (comprehension)

    - 리스트 컴프리헨션(list comprehension)은 파이썬에서 간결하게 리스트를 생성하는 기능
    - 반복문과 조건문을 결합하여 리스트를 생성

In [22]:
for i in range(0x3131, 0x3135):
   print(chr(i))

ㄱ
ㄲ
ㄳ
ㄴ

In [23]:
# 리스트 컴프리헨션(list comprehension)
# 간결하게 리스트를 생성하는 기능으로, 반복문과 조건문을 결합하여 리스트를 생성

x = []

for i in range(1, 10): # 1~9까지
    x.append(i) #append(리스트에 값을 추가!)

In [24]:
# 리스트 컴프리헨션
# step1 list안에 for문을 가져옵니다.
#[for i in range(1, 10)] # for문 시작하는 조건을 가져오고 리스트로 묶는다.

# step2 append 항목을 앞으로 가져옵니다. - 여기서 i -> 자동으로 append
a = [i for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
b = [i*2 for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a, b)

[1, 2, 3, 4, 5, 6, 7, 8, 9] [2, 4, 6, 8, 10, 12, 14, 16, 18]

In [25]:
'''[추가할변수_또는_표현식 for 변수 in 특정범위]'''

'[추가할변수_또는_표현식 for 변수 in 특정범위]'

In [26]:
# 컴프리헨션 내 조건문 사용법

l = [i for i in range(1, 10) if i % 2 == 0 and i % 3 == 0]
print(l)

[6]

In [27]:
nums = [1, 2, 3, 4, 5]
result = [f'{x}는 3보다 큰 짝수' if x % 2 == 0 else f'{x}는 3보다 큰 홀수' for x in nums if x > 3]
print(result) # 출력: ['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

In [28]:
result = []
nums = [1, 2, 3, 4, 5]
for x in nums:
    if x > 3:
        if x % 2 == 0:
            result.append(f'{x}는 3보다 큰 짝수')
        else:
            result.append(f'{x}는 3보다 큰 홀수')
print(result)

['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

In [29]:
# 중첩된 반복문과 중첩된 컴프리헨션

# 리스트 컴프리헨션: 중첩된 반복문
c = [f'{i} × {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]

# 리스트 컴프리헨션: 중첩된 컴프리헨션
cc = [[f'{i} × {j} = {i*j}' for j in range(1, 10)] for i in range(2, 10)]

# 전통적인 방법
c_list = []
for i in range(2, 10):
    for j in range(1, 10):
        c_list.append(f'{i} × {j} = {i*j}')

In [30]:
print(c)

['2 × 1 = 2', '2 × 2 = 4', '2 × 3 = 6', '2 × 4 = 8', '2 × 5 = 10', '2 × 6 = 12', '2 × 7 = 14', '2 × 8 = 16', '2 × 9 = 18', '3 × 1 = 3', '3 × 2 = 6', '3 × 3 = 9', '3 × 4 = 12', '3 × 5 = 15', '3 × 6 = 18', '3 × 7 = 21', '3 × 8 = 24', '3 × 9 = 27', '4 × 1 = 4', '4 × 2 = 8', '4 × 3 = 12', '4 × 4 = 16', '4 × 5 = 20', '4 × 6 = 24', '4 × 7 = 28', '4 × 8 = 32', '4 × 9 = 36', '5 × 1 = 5', '5 × 2 = 10', '5 × 3 = 15', '5 × 4 = 20', '5 × 5 = 25', '5 × 6 = 30', '5 × 7 = 35', '5 × 8 = 40', '5 × 9 = 45', '6 × 1 = 6', '6 × 2 = 12', '6 × 3 = 18', '6 × 4 = 24', '6 × 5 = 30', '6 × 6 = 36', '6 × 7 = 42', '6 × 8 = 48', '6 × 9 = 54', '7 × 1 = 7', '7 × 2 = 14', '7 × 3 = 21', '7 × 4 = 28', '7 × 5 = 35', '7 × 6 = 42', '7 × 7 = 49', '7 × 8 = 56', '7 × 9 = 63', '8 × 1 = 8', '8 × 2 = 16', '8 × 3 = 24', '8 × 4 = 32', '8 × 5 = 40', '8 × 6 = 48', '8 × 7 = 56', '8 × 8 = 64', '8 × 9 = 72', '9 × 1 = 9', '9 × 2 = 18', '9 × 3 = 27', '9 × 4 = 36', '9 × 5 = 45', '9 × 6 = 54', '9 × 7 = 63', '9 × 8 = 72', '9 × 9 = 81']

In [31]:
# 컴프리헨션 내 함수 사용하기

def sumthingFunction(i): # 함수 sumthingFunction(i)을 생성
    if i % 100 ==0:      # 조건문 100으로 나눴을때 나머지가 0이 되는것
        return i         # 조건에 일치하면 i를 리턴 일치하지 않으면 0을 리턴하는데,
    else:
        return 0

l = [100, 200, 300, 101, 202, 303]
l = [sumthingFunction(i) for i in l] # l(리스트)에 있는 값들을 하나씩 꺼내서, 함수에 태워보고, 조건에 맞는것만 출력
l # 출력: [100, 200, 300, 0, 0, 0]
print(l)

[100, 200, 300, 0, 0, 0]

In [32]:
l = [100, 200, 300, 101, 202, 303]
l2 = [(lambda x : x * x)(x) for x in l]
print(l2)

[10000, 40000, 90000, 10201, 40804, 91809]

In [33]:
# 딕셔너리 컴프리핸션

# 전통적인 방법
d = {}
for i in range(5):
    d[i] = i**2
print(d)

# 딕셔너리 컴프리헨션 사용
dd = {i: i**2 for i in range(5)}
print(dd)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [34]:
# 복합 자료형 순회

for i, j, k in ['abc', 'def', 'ghi']:
    print(i, j, k)

a b c
d e f
g h i

In [35]:
for i in ['abc']:
    print(i)

abc

In [36]:
skill = [
        ('고기잡이', 100),
        ('고기팔기', 120),
        ('낚시', 5),
        ('통발', 5),
        ('큰그물', 5)
]

for i, j in skill:
    print(i, j)

고기잡이 100
고기팔기 120
낚시 5
통발 5
큰그물 5

In [37]:
# 하나만 리스트여도 쌓이면 상관없이 잘 돌아감
skill = [
        ('고기잡이', 100, 'SS'),
        ('고기팔기', 120, 'SSS'),
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C')
]

for skillName, skillLevel, skillGrade in skill:
    print(skillName, skillLevel, skillGrade)

고기잡이 100 SS
고기팔기 120 SSS
낚시 5 C
통발 5 C
큰그물 5 C

In [38]:
# enumerate를 사용한 순회
# enumerate는 순서를 매길 때 사용, 별도의 변수를 선언하지 않고 가능하게 함

영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in enumerate(영화누적관객수):
    print(i)

(0, '레미제라블')
(1, '뷰티인사이트')
(2, '매트릭스')
(3, '인셉션')
(4, '어거스트 러쉬')

In [39]:
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in 영화누적관객수:
    print(i)

레미제라블
뷰티인사이트
매트릭스
인셉션
어거스트 러쉬

In [40]:
for i, j in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위! {j}!') # i에는 index값 j에는 영화 제목! ,1 -> 1부터 시작!

누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!

In [41]:
# for 문으로 무한반복 만들기

'''
# 실행시키면 런타임 다시 시작해야 합니다.
# l = [1, 2]
# for i in l:
#     l.append(3)
#     print(i) # 1, 2, 3, 3, 3, 3, 3, 3 ...

s = 'hello'
for i in s: # 순회가 정상적으로 됩니다.
    s += '!'
    print(i)
    print(s)

d = {'one': '하나'}
for i in d: # RuntimeError: dictionary changed size during iteration
    d.update({i+d[i]:None})
    print(d)
'''

"\n# 실행시키면 런타임 다시 시작해야 합니다.\n# l = [1, 2]\n# for i in l:\n#     l.append(3)\n#     print(i) # 1, 2, 3, 3, 3, 3, 3, 3 ...\n\ns = 'hello'\nfor i in s: # 순회가 정상적으로 됩니다.\n    s += '!'\n    print(i)\n    print(s)\n\nd = {'one': '하나'}\nfor i in d: # RuntimeError: dictionary changed size during iteration\n    d.update({i+d[i]:None})\n    print(d)\n"

### While 문

```
while 구문:
    pass # 수행할 문장
```

In [43]:
#while문 기초

a = 1

while a < 10 :
    print(a)
    a += 1

1
2
3
4
5
6
7
8
9

In [44]:
#while문 기초

a = 1
while a < 10: # 조건이 만족할때 까지
    print(a)
    a += 1 # 없으면 무한루프!

1
2
3
4
5
6
7
8
9

In [45]:
#while문 기초

a = 1
while a < 10: # 조건이 만족할때 까지
    print(a)
    a += 1

# for문 기초
for i in range(1,10): # 범위가 끝날때 까지
    print(i)

1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9