<a href="https://colab.research.google.com/github/soohyun020812/ormcamp/blob/main/24_01_03_(%EC%82%B0%EC%88%A0)%EC%97%B0%EC%82%B0%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 연산자
- 프로그래밍에서 데이터를 처리하고 분석하는 데 쓰이는 **기호**나 **키워드**

- 연산자의 종류는 **산술연산자, 대입연산자(할당연산자), 비교연산자, 논리연산자, 비트연산자, 멤버연산자, 식별연산자**

In [ ]:
# 정수와 정수의 덧셈

result = 5 + 3
print(result)

8

In [ ]:
# 정수와 실수의 덧셈

result = 3 + 2.5
print(result)

5.5

In [ ]:
s1 = "Hello"
s2 = "World"
result = s1 + " " + s2

print(result)

Hello World

In [ ]:
# 리스트 덧셈

list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print(combined_list)

# 튜플 덧셈
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined_tuple = tuple1 + tuple2
print(combined_tuple)

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [ ]:
# 정수와 정수의 뺄셈

result = 7 - 4
print(result)

# 정수와 실수의 뺄셈

result = 10 - 3.5
print(result)

# 음수와 뺄셈

result = 5 - (-3)
print(result)

3
6.5
8

In [ ]:
# set의 뺄셈

{3, 4, 5} - {4}

{3, 5}

In [ ]:
7 - 4 # (-)

3

In [ ]:
7 -- 4 # (+)

11

In [ ]:
7 --- 4 # (-)

3

In [ ]:
# 정수와 정수의 곱셈

result = 3 * 4
print(result)

# 정수와 실수의 곱셈

result = 5 * 2.5
print(result)

12
12.5

In [ ]:
# 문자열 곱셈

result = "Ha" * 3
print(result)

HaHaHa

In [ ]:
# 리스트 곱셈

result = [1, 2, 3] * 2
print(result)

[1, 2, 3, 1, 2, 3]

##### 나눗셈
연산자(/, //)는 두 수를 나누는 연산자\
첫번째 나눗셈 연산자는 항상 float 형식으로 반환\
두번째 나눗셈 연산자는 항상 int형으로 반환\
//는 내림

In [ ]:
# 정수 나눗셈

a = 10
b = 2

print(a / b)
print(a // b)

5.0
5

In [ ]:
# 음수 나눗셈

a = -5
b = 2

print(a / b)
print(a // b)

-2.5
-3

나머지 연산자(%)는 한 숫자를 다른 숫자로 나누었을 때의 나머지를 반환하는 연산자

In [ ]:
10 % 3

1

In [ ]:
10 % 2 == 0 # 홀수, 짝수 판별
365 % 10 == 0 # 1의 자리 반환

False

In [ ]:
10 % 3.3

0.10000000000000053

제곱 연산자 (**)

In [ ]:
10 ** 3

1000

In [ ]:
4 ** 0.5

2.0

In [ ]:
-2 ** 2

# 부호가 나중에 붙기 때문에 음수는 괄호로 묶어야 함

-4

In [ ]:
(-2) ** 2

4