알고리즘 3문제를 풀어주세요 🙂

https://100.pyalgo.co.kr/?page=10

https://100.pyalgo.co.kr/?page=12

https://100.pyalgo.co.kr/?page=13

In [2]:
def solution(data):
    # 합이 350 이상인 캐릭터를 필터링하여 characters에 저장
    characters = list(filter(lambda character: sum(character[1:]) >= 350, data))
    # characters에서 이름만 추출하여 알파벳 순으로 정렬
    characters = sorted([character[0] for character in characters])
    # 정렬된 캐릭터 이름 리스트 반환
    return characters

In [3]:
def solution(data):
    # 주소와 우편번호를 묶음
    addresses_with_postal = [(address, data[1][address.split()[1]]) for address in data[0]]
    # 튜플의 첫 번째 요소 기준으로 정렬
    sorted_addresses = sorted(addresses_with_postal, key=lambda x: x[1])
    # 정렬된 주소만 추출
    result = [address[0] for address in sorted_addresses]
    return result

In [4]:
def solution(data):
    if isinstance(data, list) and len(data) >= 2 and isinstance(data[1], dict):
        # data[1]이 딕셔너리일 경우에만 코드 실행
        books_info = sorted(data[1].items(), key=lambda info: info[1])
        return [book[0] for book in books_info]