### 문제 1 : 함수를 인자로 받는 고차함수
주어진 리스트와 함수를 인자로 받아, 리스트의 각 요소에 해당 함수를 적용한 결과를 반환하는 고차함수 `apply_function`을 작성해주세요.

```python
def apply_function(lst, func):
    pass

# 예제 사용
result = apply_function([1, 2, 3, 4], lambda x: x * 2)
print(result)  # [2, 4, 6, 8]이 출력되어야 함
```

### 문제 2 : 함수를 반환하는 고차함수
정수 n을 인자로 받아, 다른 정수 x에 n을 곱하는 함수를 반환하는 고차함수 `multiply_by_n`을 작성해주세요. 힌트를 드리자면 반환 값은 lambda여야 합니다.

```python
def multiply_by_n(n):
    pass

# 예제 사용
multiplier = multiply_by_n(5)
print(multiplier(3))  # 15가 출력되어야 함
```

### 강사님 답안

In [2]:
# 1.1
def apply_function(lst, func):
    return list(map(func, lst))

# 예제 사용
result = apply_function([1, 2, 3, 4], lambda x: x * 2)
print(result)  # [2, 4, 6, 8]이 출력되어야 함

[2, 4, 6, 8]

In [3]:
# 1.2 쉬운풀이
def apply_function(lst, func):
    l = []
    for i in lst:
        l.append(func(i))
    return l

# 예제 사용
result = apply_function([1, 2, 3, 4], lambda x: x * 2)
print(result)  # [2, 4, 6, 8]이 출력되어야 함

[2, 4, 6, 8]

In [4]:
# 1.3
def apply_function(lst, func):
    return [func(i) for i in lst]

# 예제 사용
result = apply_function([1, 2, 3, 4], lambda x: x * 2)
print(result)  # [2, 4, 6, 8]이 출력되어야 함

[2, 4, 6, 8]

In [5]:
# 2.1
def multiply_by_n(n):
    return lambda x: x * n

# 예제 사용
multiplier = multiply_by_n(5)
print(multiplier(3))  # 15가 출력되어야 함

15

In [6]:
# 2.2
def multiply_by_n(n):
    def f(x):
        return x * n
    return f

# 예제 사용
multiplier = multiply_by_n(5)
print(multiplier(3))  # 15가 출력되어야 함

15

## 어제 과제와 연관된 실습

In [7]:
class Calc:
    pass


add = Calc()
add

# 더할 수 있는 함수의 기능이 지금 Calc에 없습니다.

add.oper = lambda x, y : x + y
add.oper(10, 20)

30