<a href="https://colab.research.google.com/github/soohyun020812/ormcamp/blob/main/%5B%EB%B3%B5%EC%8A%B5%5D_24_01_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# 문제1

a = 100
(a > 100) and (a < 200)
(a > 100) or (a < 200)
(a >= 100) and (a <= 200)
(a >= 100) or (a <= 200)

True

In [3]:
# 문제2

b = 25
(b % 2 == 0) and (b % 5 == 0)

False

In [15]:
# 문제3

c = 1000
c // 100

10

In [3]:
# 문제4
# 입력한 금액을 5000원, 1000원, 500원, 100원으로 교환하는 프로그램을 만들어주세요.

money = int(input("거스름돈을 출력하세요 : "))

거스름돈을 출력하세요 : 9980

In [4]:
print(money)

9980

In [5]:
# 5000으로 나눠서 나눗셈된 값(몫) -> 5000원권 얼마나 거슬러 줘야하는가?
num_5000 = money // 5000
print(num_5000)

1

In [6]:
money -= (num_5000 * 5000)
print(money)

4980

In [7]:
# 1000

num_1000 = money // 1000
money -= (num_1000 * 1000)

In [8]:
print(num_1000, money)

4 980

In [9]:
# 500

num_500 = money // 500
money -= (num_500 * 500)

In [10]:
print(num_500, money)

1 480

In [11]:
# 100

num_100 = money // 100
money -= (num_100 * 100)
print(num_100, money)

4 80

In [12]:
# 50

num_50 = money // 50
money -= (num_50 * 50)
print(num_50, money)

1 30

In [13]:
10

num_10 = money // 10
money -= (num_10 * 10)
print(num_10, money)

3 0

In [14]:
print(f"5000원은 {num_5000}개, 1000원은 {num_1000}개, 500원은 {num_500}개, 100원은 {num_100}개, 50원은 {num_50}개, 10원은 {num_10}개 입니다.") #9,980원

5000원은 1개, 1000원은 4개, 500원은 1개, 100원은 4개, 50원은 1개, 10원은 3개 입니다.

1. **사용자 입력 받기**:
    - **`input()`** 함수를 사용하여 제품의 원가와 할인율을 입력받습니다.
2. **문자열을 숫자로 변환**:
    - 입력받은 원가와 할인율을 각각 **`float()`** 함수를 사용하여 실수로 변환합니다.
3. **할인된 가격 계산**:
    - 할인된 가격을 계산하는 공식을 사용합니다. (할인된 가격 = 원가 - (원가 × 할인율 / 100))
4. **결과 출력**:
    - 계산된 할인된 가격을 **`print()`** 함수를 사용하여 출력합니다.

In [59]:
original = float(input("제품의 원가를 입력하세요 : "))
discount = float(input("제품의 할인율을 입력하세요 : "))

제품의 원가를 입력하세요 : 10000
제품의 할인율을 입력하세요 : 10

In [60]:
print(original, discount)

10000.0 10.0

In [61]:
discount = original - (original * discount/100)

In [62]:
print(discount)

9000.0

In [67]:
print(f"할인이 적용된 가격은 {int(discount)}원 입니다")

할인이 적용된 가격은 9000원 입니다

1. 사용자 입력 받기:
input() 함수를 사용하여 사용자의 이름과 나이를 입력받습니다.
2. 문자열을 숫자로 변환:
입력받은 나이(문자열)를 int() 함수를 사용하여 정수로 변환합니다.
3. 산술 연산 수행:
변환된 나이에 1을 더하여 다음 해의 나이를 계산합니다.
4. 문자열 길이 계산:
len() 함수를 사용하여 사용자 이름의 길이를 계산합니다.
5. 성인 여부 판단:
나이를 기준으로 성인 여부를 판단하여 불리언 값으로 표시합니다. (예: 18세 이상이면 True, 그렇지 않으면 False)
6. 결과 출력:
계산된 나이, 이름의 길이, 성인 여부를 print() 함수를 사용하여 출력합니다.

In [1]:
# Step 1
u_name = input("사용자의 이름을 입력해주세요: ")
u_age = input("사용자의 나이를 입력해주세요: ")

# Step 2
u_age = int(u_age)

# Step 3
nxt_age = u_age + 1
print(f"다음 해의 나이는 {nxt_age}살 입니다.")

# Step 4
length_name = len(u_name) # 이름의 길이
# print(length_name)

# Step 5
is_adult = u_age >= 18
# print(is_adult)

# Step 6
print(f"사용자의 나이는 {u_age}이고 이름 길이는 {length_name}입니다. 사용자의 성인 여부는 {is_adult}입니다")

사용자의 이름을 입력해주세요: 이수현
사용자의 나이를 입력해주세요: 22
다음 해의 나이는 23살 입니다.
사용자의 나이는 22이고 이름 길이는 3입니다. 사용자의 성인 여부는 True입니다