In [ ]:
import sqlite3
conn = sqlite3.connect('example.db')  # 'example.db'라는 데이터베이스 파일 생성
c = conn.cursor()

In [ ]:
# 테이블 생성
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')

# 데이터 삽입
c.execute("INSERT INTO stocks VALUES ('2024-03-06','BUY','RHAT',100,35.14)")

# 변경사항 저장
conn.commit()

In [ ]:
c.execute('SELECT * FROM stocks')
print(c.fetchall())

[('2024-03-06', 'BUY', 'RHAT', 100.0, 35.14)]

In [ ]:
conn.close()