### match
    - 여러 조건을 체크하여 해당 조건에 맞는 코드 블록을 실행하는 제어문
    - python에 없는 switch문을 switch처럼 사용하기 위해 나타남
    - match문법을 통해 여러 경우의 수를 처리할 수 있음

In [1]:
# match문법 활용 코드

text = 'Hello World'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
    case _:
        print('No Match') # 결과 'No Match'

No Match

In [3]:
text = 'World'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
    case _:
        print('No Match')

# text가 "World"이기 때문에 case 'World'조건에 부합하여 print('World')가 실행

World

In [4]:
text = '1'
match text:
    case '1' | '2':
        print('1, 2')
    case _:
        print('No Match')

# (|) 대신 and나 or연산자는 가능하지 않음

1, 2

In [6]:
def test(i):
    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case 3 | 4:
            print('Three or Four')
        case _ if i > 10:
            print('Greater than ten')
        case _:
            print('Other')

test(1) # 출력: One
test(2) # 출력: Two
test(3) # 출력: Three or Four
test(4) # 출력: Three or Four
test(5) # 출력: Other
test(15) # 출력: Greater than ten

# case 3 | 4 구문은 case 3 or case 4와 같음

One
Two
Three or Four
Three or Four
Other
Greater than ten

In [7]:
def test(i):
    match i:
        case i if type(i) == int:
            print('Integer')
        case i if type(i) == str:
            print('String')
        case i if type(i) == float:
            print('Float')
test(1) # 출력: Integer
test('hello') # 출력: String
test(3.14) # 출력: Float

#############################

def test(i):
    match i:
        case _ if type(i) == int:
            print('Integer')
        case _ if type(i) == str:
            print('String')
        case _ if type(i) == float:
            print('Float')
test(1) # 출력: Integer
test('hello') # 출력: String
test(3.14) # 출력: Float

Integer
String
Float
Integer
String
Float

In [8]:
# case block 내부에서도 if-else문을 사용할 수 있음

def test(i):
    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case _:
            if i > 2:
                print('Greater than two')
            else:
                print('Less than or equal to two')
test(1) # 출력: One
test(2) # 출력: Two
test(3) # 출력: Greater than two
test(4) # 출력: Greater than two

One
Two
Greater than two
Greater than two

In [9]:
def test(status):
    match status:
        case (1 | 2 | 3) as code:
            return f'value : {code}'
        case _:
            return 'hello'
print(test(2))  # 출력: value : 2

value : 2

In [10]:
def test(status):
    match status:
        case (1 | 2 | 3) if status % 2 == 0:
            return 'hello'
        case _:
            return 'world'
print(test(3)) # 출력: world

world