### 딕셔너리

    - Python 3.6 버전 이상은 순서가 보장됩니다.
    - 실무에서 사용하는 Python 버전은 생각보다 낮습니다. 이점 주의해주세요.
    - 'key: value' 쌍으로 이뤄져 있습니다.
    - 딕셔너리 데이터 검색은 매우 빠릅니다.
    - 딕셔너리 사용은 주의를 요합니다. 딕셔너리는 key가 없는 것을 호출하면 error가 납니다.

In [ ]:
d = {'one': '하나', 'two': '둘'}
d['one']

'하나'

In [ ]:
d['three'] # error

In [ ]:
d.get('three') # get 메서드를 사용하시길 권합니다!

In [ ]:
d.get('three', '없는 값입니다!') # get 메서드를 사용하시길 권합니다!

'없는 값입니다!'

In [ ]:
def f(x):
    return {
            0: '일요일',
            1: '월요일',
            2: '화요일',
            3: '수요일',
            4: '목요일',
            5: '금요일',
            6: '토요일',
        }.get(x, '요일없음')

f(3)

'수요일'

In [ ]:
x = 3

{
    0: '일요일',
    1: '월요일',
    2: '화요일',
    3: '수요일',
    4: '목요일',
    5: '금요일',
    6: '토요일',
}.get(x, '요일없음')

'수요일'

In [ ]:
# match 문법이 나오기 전까지 많이 사용했었습니다.
# 지금도 많이 사용하는 문법입니다.
# match 문법은 이런 문법이 있는지 모르시는 시니어 분들도 많습니다.

x = 3

y = {
    0: '일요일',
    1: '월요일',
    2: '화요일',
    3: '수요일',
    4: '목요일',
    5: '금요일',
    6: '토요일',
}

y.get(x, '요일없음')

In [ ]:
!python --version

Python 3.10.12

In [ ]:
type(d)
dir(d)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [1]:
# 실제로 이와 같은 key: value의 쌍을 게시물 저장하는 형태 등으로 사용합니다.

게시물1 = {
    'title': '파이썬이 이렇게 어려울 줄이야!!?',
    'contents': '파이썬을 깊게 알아갈 수록 너무 재미있네요!!! 신기합니다!!',
    'author': '이수현',
    'image': '/hojun/2024/1/5/python.jpg',
}

In [ ]:
d = {'one': '하나', 'two': '둘'}

In [ ]:
d = {'one': '하나', 'two': '둘'}
dd = d

id(dd), id(d)
dd is d

d['one'] = 'python'
d['two'] = 'html'

d, dd

({'one': 'python', 'two': 'html'}, {'one': 'python', 'two': 'html'})

In [ ]:
d = {'one': '하나', 'two': '둘'}
dd = d.copy()

d['one'] = 'python'
d['two'] = 'html'

dd

{'one': '하나', 'two': '둘'}

In [ ]:
# 자주 사용하지 않습니다.

d = ('one', 'two', 'three')
dict.fromkeys(d)
dict.fromkeys(d, 'hello world')

{'one': 'hello world', 'two': 'hello world', 'three': 'hello world'}

In [ ]:
# 매우 자주 사용하고 권고합니다.
d = {'one': '하나', 'two': '둘'}
d.get('one')
d.get('three', '값 없음!')

'값 없음!'

In [ ]:
d = {'one': '하나', 'two': '둘'}
d.items()

dict_items([('one', '하나'), ('two', '둘')])

In [ ]:
d = {'one': '하나', 'two': '둘'}
type(d.items())

dict_items

In [ ]:
d = {'one': '하나', 'two': '둘'}
d.items()[0] # error
d.items()[1:] # error

In [ ]:
a, b = d.items() # 언패킹
a
b

('two', '둘')

In [ ]:
a, b = [10, 20]
a

10

In [ ]:
# keep만 해두세요. 반복문을 안배웠습니다.
for i, j in d.items():
    print(i, j)

one 하나
two 둘

In [ ]:
d.keys()
d.values()

dict_values(['하나', '둘'])

In [ ]:
d = {'one': '하나', 'two': '둘'}
d.setdefault('one')
d.setdefault('three')
d.setdefault('four', 4) # 있으면 그 값을 출력하고, 없으면 그 값을 d에 삽입하고 4를 출력해줘!

4

In [ ]:
d = {'one': '하나', 'two': '둘'}
d.pop('one')
d

{'two': '둘'}

In [ ]:
d = {'one': '하나', 'two': '둘'}
d.pop() # error
d.pop('three') # error
d

In [ ]:
d = {'one': '하나', 'two': '둘'}
d.popitem() # 없는 코드를 많이 보게 되실겁니다.

('two', '둘')

In [ ]:
d = {'one': '하나', 'two': '둘'}
d.update({'one': 'python', 'three':'hello'}) # one은 수정이 되었고 three는 생성이 되었습니다.
d

{'one': 'python', 'two': '둘', 'three': 'hello'}

In [ ]:
# 신규문법!!(3.9 version)
d = {'one': '하나', 'two': '둘'}
dd = {'three': '셋'}

# d + dd
d | dd # 책 사서 보셔도 잘 안나오는 문법입니다.

{'one': '하나', 'two': '둘', 'three': '셋'}

In [ ]:
d = {'one': '하나', 'two': '둘'}
dd = {'one':'python', 'three': '셋'}
d | dd

{'one': 'python', 'two': '둘', 'three': '셋'}