In [ ]:
# 요소 전체의 True, False 판별
all
any

# 숫자를 문자로 바꾸거나 문자를 숫자로 바꾸는 함수
chr
ord

# 함수와 순회할 수 있는 객체의 연산
map
filter

# 순회할 수 있는 객체의 묶음
zip

# 형식 변환
format

# 길이 반환
len

# 큰 값, 작은 값, 다 더한 값
max
min
sum

# 문자열, 대표 문자열, 문자열 출력
str
repr
print

# 순회할 수 있는 객체
enumerate
range

# 역순과 정렬
reversed
sorted

In [1]:
# all()

# 모두 다 True여야 True 반환
all([True, True, True]) # 출력: True
all([True, True, False]) # 출력: False
all([1, 1, 1, 0]) # 출력: False
all([1, 0, 1, 1]) # 출력: False
all([1, 100, 10, -1]) # 출력: True

True

In [2]:
# any()

# 하나라도 True이면 True이다.
any([True, False, False]) # 출력: True
any([False, False, False]) # 출력: False

False

In [3]:
# chr()

# 10진수로 유니코드표에서 찾아 대응되는 값을 줍니다.
chr(65) # 출력: 'A'
chr(97) # 출력: 'a'
chr(54616) # 출력: '하'

'하'

In [4]:
# ord()

# 문자를 입력하면 유니코드에서 숫자로 출력합니다.
ord('a') # 출력: 97
ord('하') # 출력: 54616

54616

In [5]:
# + int()

# 유니코드 표에서 값 확인
int('D558', 16) # 출력: 54616

54616

In [7]:
# map()

# 첫번째 방법
def 제곱(x):
    return x ** 2
list(map(제곱, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]

[1, 4, 9, 16]

In [8]:
# 두번째 방법
list(map(lambda x : x ** 2, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]

[1, 4, 9, 16]

In [9]:
# filter()

list(filter(lambda x : x > 50, range(100)))

[51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [10]:
# zip()

zip('ab', '12') # 출력: <zip at 0x7b9d83c6e440>

In [11]:
list(zip('ab', '12', [10, 20])) # 출력: [('a', '1', 10), ('b', '2', 20)]

[('a', '1', 10), ('b', '2', 20)]

In [13]:
x = [1, 2, 3]
y = [1, 4, 9]
list(zip(x, y)) # 출력: [(1, 1), (2, 4), (3, 9)]

[(1, 1), (2, 4), (3, 9)]

In [14]:
# format()

print(format(123.4567, '.2f')) # 출력: 123.46
print(format('Hello', '^9')) # 출력: '  Hello  '

123.46
  Hello

In [15]:
# len()

len('hello world')

11

In [16]:
# max()

max([1, 2, 3, 4, 5]) # 출력 : 5
max([(1, 2), (3, 101), (1, 20), (3, 100)]) # 출력 : (3,101)
max(['hello', 'world', 'world1']) # 출력 : world1

'world1'

In [18]:
# min()

students = [
    {'이름': '가', '국어': 90, '영어': 72, '수학': 95},
    {'이름': '나', "국어": 80, '영어': 90, '수학': 91},
    {'이름': '다', "국어": 95, '영어': 73, '수학': 92}
]

min(students, key=lambda student: student['수학']) # 출력: {'이름': '나', '국어': 80, '영어': 90, '수학': 91}

{'이름': '나', '국어': 80, '영어': 90, '수학': 91}

In [27]:
# sum()

sum([[1, 2], [10, 20], [100, 200]], []) # 출력: [1, 2, 10, 20, 100, 200]
# [] + [1, 2]
# [1, 2] + [10, 20]
# [1, 2, 10, 20] + [100, 200]
# [1, 2, 10, 20, 100, 200]

[1, 2, 10, 20, 100, 200]

In [28]:
sum(sum([[1, 2], [10, 20], [100, 200]], [])) # 출력: 333

333

In [21]:
# + np.sum()

import numpy as np

np.sum([[1, 2], [3, 101], [1, 20], [3, 100]]) # 출력 : 328

231

In [22]:
# print()

class Charactor:
    def __repr__(self):
        return 'hello'
    def __str__(self):
        return 'world'

hero = Charactor()
print(hero) # 출력 : 'world'
hero # 출력 : 'hello'

world

hello

In [24]:
# repr()

repr(hero) # (__repr__ 메서드 호출로 인해) 출력 : hello

'hello'

In [25]:
# range()

range(1, 10, 2) # 출력: range(1, 10, 2)
list(range(1, 10, 2)) # 출력: [1, 3, 5, 7, 9]

[1, 3, 5, 7, 9]

In [26]:
print(list(range(0, 101, 2))) #짝수
print(list(range(1, 101, 2))) #홀수

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

### + range()와 시퀀스 자료형

**`range`** 함수는 순차적인 수열을 생성하는데 사용되는 특별한 자료형으로, 시퀀스 자료형의 일종입니다. 시퀀스 자료형은 리스트, 튜플, 문자열 등과 같은 다양한 타입들을 포함하며, 공통적인 연산과 기능을 지니고 있습니다. 이런 특성은 **`range`** 함수가 생성하는 수열에도 적용됩니다. 다음과 같은 특성들을 확인할 수 있습니다:

인덱싱을 할 수 있습니다. 시퀀스 자료형은 인덱스를 통해 각 요소에 접근할 수 있습니다. 예를 들어, **`range(10)[3]`**은 숫자 3을 반환합니다.

슬라이싱을 할 수 있습니다. 범위를 지정하여 시퀀스의 일부를 추출할 수 있습니다. 예를 들면, **`range(10)[3:7]`**은 **`range(3, 7)`**과 동일한 결과를 반환합니다.

길이 확인이 가능합니다. **`len`** 함수를 사용하여 시퀀스의 길이를 확인할 수 있습니다. 예시로, **`len(range(10))`**은 10을 반환합니다. filter나 map은 길이 확인이 안된다는 점도 기억해두세요.

멤버십 테스트 (Membership)가 가능합니다. **`in`** 키워드를 이용하여 시퀀스 내 특정 요소의 존재 여부를 검사할 수 있습니다. 예를 들어, **`5 in range(10)`**은 **`True`**를 반환합니다.

반복 (Iteration)할 수 있습니다. **`for`** 반복문을 사용하여 시퀀스의 모든 요소를 순차적으로 순회할 수 있습니다. 예를 들어, **`for i in range(3): print(i)`** 구문은 0, 1, 2를 순서대로 출력합니다.

In [29]:
# enumerate()

values = ['A', 'B', 'C', 'D']
print(list(enumerate(values)))
print(list(enumerate(values, 1)))
print(list(enumerate(values, 100)))

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]
[(100, 'A'), (101, 'B'), (102, 'C'), (103, 'D')]

In [33]:
# sorted()

sorted([1, 2, 100, 200, 3, 4, 10, 20])
# 출력 : [1, 2, 3, 4, 10, 20, 100, 200] - 오름차순

[1, 2, 3, 4, 10, 20, 100, 200]

In [34]:
sorted([1, 2, 100, 200, 3, 4, 10, 20], reverse=True)
# 출력 : [200, 100, 20, 10, 4, 3, 2, 1] - 내림차순

[200, 100, 20, 10, 4, 3, 2, 1]

In [35]:
# reversed()

list(reversed('hello world'))
list(reversed([1, 2, 3, 10, 5, 4])) # 역 정렬 아닙니다! 역순입니다.
list(reversed(sorted([1, 2, 3, 10, 5, 4])))

[10, 5, 4, 3, 2, 1]

In [36]:
l = [3, 2, 1, 5, 4]
print(sorted(l))
print(l)

[1, 2, 3, 4, 5]
[3, 2, 1, 5, 4]