In [1]:
def hello():
    '''
    독스트링(Docstring)
    코드의 문서화와 편리한 문서 참조를 위해 기본 기능
    함수, 클래스, 모듈의 목적과 이를 이용할 때 필요한 세부 정보들을 담는 것
    '''
    pass

In [2]:
print(type(hello)) # 함수도 class

<class 'function'>

In [3]:
a = 10
# a는 int에 인스턴스

In [4]:
l = [a, a, a]
l[2]

10

In [5]:
print("hello world") # built-in function

hello world

In [6]:
l = [print, print, print]
l[2]

In [7]:
l = [print, print, print]
l[2]("hello world")

hello world

In [8]:
soohyun = print
soohyun("hello world")

hello world

### labmda의 응용
    - map에서 사용

In [36]:
홀수 = lambda x : x % 2
홀수(3)

1

In [37]:
add = lambda x, y : x + y
add(3, 5)

8

In [10]:
add = lambda x, y: x + y

In [11]:
# 코드가 이해가 안된다 => 이해할려고 노력하는 것 보다는
# 예제를 30개 정도 만들어보시는 것을 권합니다.
# Django 어려우면 30개 만들어보세요.
# lambda 어려우면 30개 만들어보세요. 30개가 어려우면 50개
# lambda x: x **2
# lambda x, y: x + y ...

In [12]:
# lambda + 3항 연산자 많이 사용합니다.
x = 10
y = True if x % 2 == 0 else False

y

True

In [13]:
# 재사용 할 것이면 이렇게 함수로

def 제곱(x):
    return x ** 2

list(map(제곱, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [14]:
# 재사용 하지 않을 것이면 이렇게 lambda로!
# lambda가 실무에서 좀 더 많이 사용됩니다.
# 수식이 복잡해지면 재사용과 별개로 lambda로 했을 경우 가독성이 떨어지는 경우도 발생합니다.
# 이럴 때에는 함수로 빼기도 합니다.

list(map(lambda x: x**2, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [15]:
list(map(lambda x: True if x % 2 == 0 else False, [1, 2, 3, 4])) # 마스킹, 필터링

[False, True, False, True]

In [19]:
# 알고리즘 문제에서
# 얼마나 효율적인지만 봐주시고, 이해는 못하셔도 괜찮습니다.
# [True, False, False, False, True]
# 에라토스테네스의 체(얼마나 마스킹이 유용한지 알 수 있죠.) => 소수
'''
[True,  True,   True    True,   True,   True,   True,   True,   True,   True]
[0,     1,      2,      3,      4,      5,      6,      7,      8,      9]
'''

'\n[True,  True,   True    True,   True,   True,   True,   True,   True,   True]\n[0,     1,      2,      3,      4,      5,      6,      7,      8,      9]\n'

In [20]:
'''
[False, False,  True    True,   True,   True,   True,   True,   True,   True]
[0,     1,      2,      3,      4,      5,      6,      7,      8,      9]
'''

'\n[False, False,  True    True,   True,   True,   True,   True,   True,   True]\n[0,     1,      2,      3,      4,      5,      6,      7,      8,      9]\n'

In [21]:
# 2가 소수가 되면 2의 배수들은 소수가 아닙니다. => 2의 배수는 모두 False로 만듭니다.
'''
[False, False,  True    True,   False,  True,   False,  True,   False,  True]
[0,     1,      2,      3,      4,      5,      6,      7,      8,      9]
'''

'\n[False, False,  True    True,   False,  True,   False,  True,   False,  True]\n[0,     1,      2,      3,      4,      5,      6,      7,      8,      9]\n'

In [23]:
# = 마스킹한 값이 얼마나 효율적인지
# 101이 소수이냐?

for i in range(2, 101):
    if 101 % i == 0:
        print('소수아님!')
        break
else: # else 대신 then으로 하자라는 논의가 활발 => 그러나 else
    print('소수임')

소수임

In [24]:
# 에라토스테네스의 체를 파이썬 코드로 표현

n=1000
a = [False,False] + [True]*(n-1)
primes=[]

for i in range(2,n+1):
  if a[i]:
    primes.append(i)
    for j in range(2*i, n+1, i):
        a[j] = False
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

    - filter에서 사용

In [26]:
# filter는 True인것만 출력합니다.
list(filter(lambda x: x % 2 == 0, range(100)))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [27]:
list(filter(lambda x: x % 3 == 0, range(100)))

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [28]:
list(filter(lambda x: x > 50, range(100)))

[51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [29]:
list(filter(lambda x: x > 50 and x < 80, range(100)))

[51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79]

In [30]:
list(filter(lambda x: True if x % 3 == 0 or x % 5 == 0 else False, range(100)))

[0,
 3,
 5,
 6,
 9,
 10,
 12,
 15,
 18,
 20,
 21,
 24,
 25,
 27,
 30,
 33,
 35,
 36,
 39,
 40,
 42,
 45,
 48,
 50,
 51,
 54,
 55,
 57,
 60,
 63,
 65,
 66,
 69,
 70,
 72,
 75,
 78,
 80,
 81,
 84,
 85,
 87,
 90,
 93,
 95,
 96,
 99]

In [32]:
# list(filter(lambda x: x % 2 == 0, range(100)))
list(filter(lambda x: x % 2, range(100))) # 홀수 출력

# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# x == 0 => lamda x:x % 2 => 0    # False로 평가
# x == 1 => lamda x:x % 2 => 1    # True로 평가
# x == 2 => lamda x:x % 2 => 0
# x == 3 => lamda x:x % 2 => 1
# x == 4 => lamda x:x % 2 => 0
# x == 5 => lamda x:x % 2 => 1
# x == 6 => lamda x:x % 2 => 0
# x == 7 => lamda x:x % 2 => 1
# x == 8 => lamda x:x % 2 => 0
# x == 9 => lamda x:x % 2 => 1

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

    - sorted에서 사용

In [33]:
l = [10, 20, 5, 4, 22, 32, 5, 9, 11]
l.sort() # sort를 자주 사용하진 않음 = 원본 변경
l

[4, 5, 5, 9, 10, 11, 20, 22, 32]

In [34]:
l = [10, 20, 5, 4, 22, 32, 5, 9, 11]
sorted(l) # sorted의 return값이 정렬된 값
l # l은 그대로 = 많이 사용

[10, 20, 5, 4, 22, 32, 5, 9, 11]

In [40]:
# sorted()

# key, reverse 옵션을 많이 사용
# 알고리즘 문제에서 단골 문제이고, sorted 문제는 1문제는 거의 출제된다 보면 됨
# 최댓값, 최솟값, https://codingdojang.com/scode/408?answer_mode=hide 이것도 최솟값!,
# https://school.programmers.co.kr/learn/courses/30/lessons/120835

In [48]:
# 반별 점수가 주어짐

반별점수 = [
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
]

In [71]:
# 반별 점수가 주어짐

반별점수 = [
    ["짱구", 30, 55, 22],
    ["맹구", 55, 60, 73],
    ["철수", 32, 65, 68],
    ["유리", 92, 11, 95],
]

In [63]:
sorted(반별점수) # 값이나 0번째 값 기준으로 정렬
# 한글로 정렬을 했을 땐 = 유니코드 순서대로 정렬함

[['맹구', 55, 60, 73],
 ['유리', 92, 11, 95],
 ['짱구', 30, 55, 22],
 ['철수', 32, 65, 68]]

In [60]:
def 함수(x):
    return x[3]

sorted(반별점수, key=함수)
# key 함수의 return 값대로 정렬

[['짱구', 30, 55, 22],
 ['철수', 32, 65, 68],
 ['맹구', 55, 60, 73],
 ['유리', 92, 11, 95]]

In [61]:
# def 함수(x):
#     return x[3]

sorted(반별점수, key=lambda x: x[3])

[['짱구', 30, 55, 22],
 ['철수', 32, 65, 68],
 ['맹구', 55, 60, 73],
 ['유리', 92, 11, 95]]

In [64]:
# 문제 : 영어 점수 순서대로 출력
sorted(반별점수, key=lambda x : x[2])

[['유리', 92, 11, 95],
 ['짱구', 30, 55, 22],
 ['맹구', 55, 60, 73],
 ['철수', 32, 65, 68]]

In [65]:
# 문제 : 국, 영, 수 평균 점수 순서대로 출력
sorted(반별점수, key= lambda x: x[1] + x[2]+ x[3]) # 나눌 필요 없음

[['짱구', 30, 55, 22],
 ['철수', 32, 65, 68],
 ['맹구', 55, 60, 73],
 ['유리', 92, 11, 95]]

In [68]:
sorted(반별점수, key= lambda x: x[1] + x[2]+ x[3], reverse=True)
# 내림차순 정렬, 평균 점수가 높은 게 앞으로

[['유리', 92, 11, 95],
 ['맹구', 55, 60, 73],
 ['철수', 32, 65, 68],
 ['짱구', 30, 55, 22]]

In [66]:
sorted(반별점수, key=lambda x : x[1])

[['짱구', 30, 55, 22],
 ['철수', 32, 65, 68],
 ['맹구', 55, 60, 73],
 ['유리', 92, 11, 95]]

In [80]:
# 동점자인 경우 수학 점수를 우선순위로 둠

반별점수2 = [
    ["홍길동", 50, 50, 50],
    ["이철수", 45, 50, 55],
    ["홍춘향", 60, 35, 75],
    ["이수현", 92, 11, 95],
]

sorted(반별점수2, key= lambda x: x[1] + x[2]+ x[3], reverse=True)
# 철수가 길동보다 수학점수가 높은데 길동이 뒤에 있음
# 수학점수가 높은 맹구를 앞으로 보내기
# 반별점수2 = [
#     ["홍길동", 50, 50, 50], => (50, 50)
#     ["이철수", 45, 50, 55], => (50, 55)
#     ["홍춘향", 60, 35, 75], => ??
#     ["이수현", 92, 11, 95], => ??
# ]

[['이수현', 92, 11, 95],
 ['홍춘향', 60, 35, 75],
 ['홍길동', 50, 50, 50],
 ['이철수', 45, 50, 55]]

In [81]:
sorted(반별점수2, key=lambda x: (x[1] + x[2] + x[3], x[3]), reverse=True)
# 철수랑 길동이 바뀜

[['이수현', 92, 11, 95],
 ['홍춘향', 60, 35, 75],
 ['이철수', 45, 50, 55],
 ['홍길동', 50, 50, 50]]

In [82]:
우편번호 = [
    {
        '주소': '경기도 용인시',
        '우편번호': 321
    },
    {
        '주소': '경기도 수원시',
        '우편번호': 355
    },
    {
        '주소': '제주특별자치도 제주시',
        '우편번호': 333
    }
]

# sorted(우편번호) # error, 비교를 할 수 없음
sorted(우편번호, key=lambda x: x["우편번호"])

[{'주소': '경기도 용인시', '우편번호': 321},
 {'주소': '제주특별자치도 제주시', '우편번호': 333},
 {'주소': '경기도 수원시', '우편번호': 355}]

In [83]:
# 입사문제
# 아래는 직선에 있는 점의 좌표
# 점과 점 사이가 가장 짧은 점의 쌍을 출력

s = [1, 3, 4, 8, 13, 17, 20] # 입력값
#      2  1  4  5   4   3

s[1:]

[3, 4, 8, 13, 17, 20]

In [94]:
x = list(zip(s, s[1:]))
x

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [95]:
sorted(x, key=lambda x: x[1] - x[0])
sorted(x, key=lambda x: x[1] - x[0])[0]

(3, 4)

In [86]:
# 호준T 코드
list(zip("hello", "world"))

[('h', 'w'), ('e', 'o'), ('l', 'r'), ('l', 'l'), ('o', 'd')]

In [87]:
# 앞에 숫자를 부여하고 싶음 : enumerate
list(enumerate(zip("hello", "world")))

[(0, ('h', 'w')),
 (1, ('e', 'o')),
 (2, ('l', 'r')),
 (3, ('l', 'l')),
 (4, ('o', 'd'))]

In [91]:
# 제너레이터(generator) = 심화 과정에서 다룸
# 반복 가능한 객체(iterator)를 생성

def gen():
    i = 1
    while True:
        yield i
        i += 1

list(zip(gen(), "hello", "world"))

[(1, 'h', 'w'), (2, 'e', 'o'), (3, 'l', 'r'), (4, 'l', 'l'), (5, 'o', 'd')]