**f-string 이란?**
- f-string은 Formatted String Literals의 줄임말


    f-string은 Python 3.6에서 도입된 새로운 문자열 포매팅 방법
    문자열 내에 {}를 사용하여 변수나 표현식을 직접 삽입할 수 있음

In [2]:
# print에 들어가는 문자열 만들기

name = '이수현'
age = 23

'제 이름은 %s이고 제 나이는 %d입니다.'%(name, age) # % 용법
'제 이름은 {}이고 제 나이는 {}입니다'.format(name, age) # format 용법
f'제 이름은 {name}이고 제 나이는 {age}입니다' # f-string 용법

'제 이름은 이수현이고 제 나이는 23입니다'

In [3]:
삼 = '짝'*3
칠 = '짝'*7
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format(삼, 칠))
print(f'삼삼칠 박수 :  {삼}!!! {삼}!!! {칠}!!! ')
print(f'삼삼칠 박수 :  {삼*2}!!! {삼}!!! {칠}!!! ') # {}안에서 연산하는 것은 가독성을 해칠 우려가 있음

삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
삼삼칠 박수 :  짝짝짝짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!

In [4]:
one_length = 5.343123123

print(f'{one_length} 입니다.')
print(f'{one_length:.1f} 입니다.')
print('{0:.2f}'.format(one_length))
print('{:.2f}'.format(one_length))

5.343123123 입니다.
5.3 입니다.
5.34
5.34

In [5]:
# log 출력할 때 가운데 정렬은 많이 사용

age = 100
print('당신의 나이는 [{:^15}]세'.format(22))
print(f'당신의 나이는 [{age:^15}]세')
print(f'당신의 나이는 [{age:<15}]세')
print(f'당신의 나이는 [{age:>15}]세')
print(f'당신의 나이는 [{age:=^15}]세')
print(f'당신의 나이는 [{age:#^15}]세')
print(f'###########{age}###########')

당신의 나이는 [      22       ]세
당신의 나이는 [      100      ]세
당신의 나이는 [100            ]세
당신의 나이는 [            100]세
당신의 나이는 [======100======]세
당신의 나이는 [######100######]세
###########100###########

In [6]:
age = 23

print(f'My set is {{1, 2, 3}}.')
print(f'My set is {{age*2}}.')
print(f'My set is {{{age*2}}}.')

My set is {1, 2, 3}.
My set is {age*2}.
My set is {46}.

In [7]:
l = []
for i in range(2, 10):
    for j in range(1, 10):
        l.append(f'{i} X {j} = {i*j}')

l

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

In [8]:
[f'{i} X {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]
# 리스트 컴프리헨션 속도가 for 빠름

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

- 교안 내용 정리

In [9]:
# 1. 기본 사용법
# 변수를 문자열에 포함

name = "Alice"
print(f"Hello, {name}")

Hello, Alice

In [10]:
# 2. 표현식 사용하기
# 직접적으로 표현식을 사용할 수 있음, 계산이나 함수 호출 등도 가능

age = 20
print(f"Next year, you will be {age + 1}.")

def greet(name):
    return f"Hello, {name}"

print(greet("Alice"))

Next year, you will be 21.
Hello, Alice

In [11]:
# 3. 포매팅(formatting) 지정자 사용하기
# f-string에서는 {} 안에서 :를 사용하여 포맷팅을 지정할 수 있음
# 소수점 아래 자릿수를 지정하거나, 정렬 방법을 지정하는 등의 포매팅 가능

num = 3.14159
print(f"{num:.2f}")

name = "Alice"
print(f"{name:>10}")

3.14
     Alice

- 이전 방식 : "문자열 + 형식문자로 구성된 출력형식"%(변수)
    - 출력형식에 형식화된 문자열을 넣어 출력의 모양을 변경하는것입니다.
    - "%형식문자"로 지정하면 % 뒤의 출력 대상들이 1:1로 대응되어 출력됩니다.
        - %s : 문자열, %d : 정수, %f : 실수 등이 있습니다.
    - 좀더 자세한 설명은 문자열 설명에서 하도록 하겠습니다.
        - %03d : 정수를 3칸에 맞추어 출력하는데 앞의 빈칸은 0으로 채워라 입니다.
        - %6.2f : 실수를 전체 6칸 소수이하 2칸에 맞추어 출력하라 입니다.
    
- 파이썬(Python) 3 포맷팅 방식 : "문자열 + {}로 구성된 출력형식".format(변수)
    - 출력형식에 형식화된 문자열을 넣어 출력의 모양을 변경하는것입니다.
    - "{}" 지정하면 format에 기술한 출력 대상들이 대응되어 출력됩니다.
        - “name: {}”.format(’이호준’)
    - "{n}"안에 숫자를 지정하여 출력 대상의 위치를 지정할 수 있습니다.
    - 함수의 인자처럼 키워드를 사용해서 나타낼 수 있습니다.
    - 동일한 데이터를 여러번 출력할 수 있습니다.
    
- 파이썬 3.6이상부터 지원 : f-string  **f’문자열 {변수} 문자열**
    - f-문자열, 문자열에 `f`또는 `F`접두어를 붙이고 변수를 {} 로 작성하여 문자열에 파이썬 표현식의 값을 삽입할 수 있게 합니다.
    - 선택적인 포맷 지정자가 변수 뒤에 올 수 있습니다.
        - f' 문자열 {math.pi:.3f}' : 원주율을 소수점 이하 세 자리로 반올림합니다.

In [12]:
# 이전 방식
print('나의 이름은 %s입니다'%('한사람'))
print('나의 이름은 "%s"입니다. 나이는 %d세이고 성별은 %s입니다.'%('한사람',33,'남성'))
print('나이는 %d세이고 성별은 %s입니다. 나의 이름은 %s입니다. '%(33,'남성','한사람'))
print('나이는 %03d세이고 신장은 %6.2f입니다. 나의 이름은 %s입니다. '%(33,56.789,'한사람'))
print('-' * 40)

# 파이썬(Python) 3 포맷팅 방식
print('나의 이름은 {}입니다'.format('한사람'))
print('나의 이름은 {0}입니다. 나이는 {1}세이고 성별은 {2}입니다.'.format('한사람',33,'남성'))
print('나이는 {1}세이고 성별은 {2}입니다. 나의 이름은 {0}입니다. '.format('한사람',33,'남성'))
print('나이는 {age}세이고 성별은 {gender}입니다. 나의 이름은 {name}입니다. '
         .format(name='한사람',age=33,gender='남성'))
print('만세삼창 :  {0}!!! {0}!!! {0}!!! '.format('만세'))
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format('짝'*3,'짝'*7))
print('-' * 40)

# 파이썬(Python) 3.6 f-string 방식
something = '볼펜'
EA = 2
one_length = 5.343
scale = 'cm'

print(f'{something} {EA}개의 길이는 {one_length*EA}{scale} 입니다.')
print(f'{something} {EA}개의 길이는 {one_length*EA:.1f}{scale} 입니다.')

나의 이름은 한사람입니다
나의 이름은 "한사람"입니다. 나이는 33세이고 성별은 남성입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
나이는 033세이고 신장은  56.79입니다. 나의 이름은 한사람입니다.
----------------------------------------
나의 이름은 한사람입니다
나의 이름은 한사람입니다. 나이는 33세이고 성별은 남성입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
만세삼창 :  만세!!! 만세!!! 만세!!!
삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
----------------------------------------
볼펜 2개의 길이는 10.686cm 입니다.
볼펜 2개의 길이는 10.7cm 입니다.

format 길이와 정렬

    {:길이} : 출력할 데이터의 길이를 지정합니다. 문자열(왼쪽 정렬), 숫자(오른쪽 정렬)
    {:<길이} : 왼쪽 정렬
    {:>길이} : 오른쪽 정렬
    {:^길이} : 가운데 정렬

In [13]:
print('Python is [{:15}]'.format('good'))
print('Python is [{:<15}]'.format('good'))
print('Python is [{:>15}]'.format('good'))
print('Python is [{:^15}]'.format('good'))
print('Python is [{:-^15}]'.format('good'))
print('당신의 나이는 [{:15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('당신의 나이는 [{:>15}]세'.format(22))
print('당신의 나이는 [{:^15}]세'.format(22))
print('-' * 40)

Python is [good           ]
Python is [good           ]
Python is [           good]
Python is [     good      ]
Python is [-----good------]
당신의 나이는 [             22]세
당신의 나이는 [22             ]세
당신의 나이는 [             22]세
당신의 나이는 [      22       ]세
----------------------------------------

In [14]:
print('[{:15}]'.format('10')) # 양식 같음, 자료형만 다름(문자는 왼쪽 정렬)
print('[{:15}]'.format(10)) # 양식 같음, 자료형만 다름(숫자는 오른쪽 정렬)

[10             ]
[             10]

In [16]:
char_a = '5'
int_a = 5
sample = 1234567890

'''기본적으로 {} 포맷팅의 특성을 그대로 가짐'''
print(1234567890)
print(f'{sample:>5}') # 문자열이 넘어가도 잘리진 않음
print(f'{char_a:>5}') # >는 오른쪽정렬
print(f'{char_a:<5}') # <는 왼쪽정렬
print(f'{char_a:^5}') # ^는 가운데정렬
print(f'{int_a:0<5}')# <는 왼쪽정렬, 빈자리를 0으로 채울수도 있음 ('5'.zfill(5))
print(f'{int_a:^10.2f}') # ^ 가운데 정렬하면서 float 타입지정

1234567890
1234567890
    5
5
  5
50000
   5.00