### 논리연산자

In [1]:
# and 두가지 조건이 모두 참일때만 True
# 예 5 > 3 and 4 > 3 -> True
# 하나라도 조건이 틀리면 False
# 값이 같더라도 ID가 달라서 False 여러가지 상황이 있다.

# and 연산자

print(True and True)   # 결과: True
print(True and False)  # 결과: False
print(False and True)  # 결과: False
print(False and False) # 결과: False

True
False
False
False

In [3]:
# and 두가지 조건이 모두 참일때만 True
# 예 5 > 3 and 4 < 3 -> True
# 하나라도 조건이 맞으면 True

# or 연산자

print(True or True)   # 결과: True
print(True or False)  # 결과: True (and와 차이점)
print(False or True)  # 결과: True (and와 차이점)
print(False or False) # 결과: False

True
True
True
False

In [4]:
# not 연산자

print(not True)  # 결과: False
print(not False) # 결과: True

False
True

In [5]:
for i in range(101): # 0부터 100까지를 반복합니다.
    if i % 3 == 0 and i % 5 == 0:
        print(i)

0
15
30
45
60
75
90

In [6]:
for i in range(101): # 0부터 100까지를 반복합니다.
    if i % 3 == 0 or i % 5 == 0:
        print(i)

0
3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99
100

In [7]:
# 단락평가
#  A and B 형태의 연산에서 A가 거짓으로 평가되면 B는 평가되지 않고 바로 False로 결정

def test1():
    print("test1 함수 호출!")
    return False

def test2():
    print("test2 함수 호출!")
    return True

result = test1() and test2()
print(result)

test1 함수 호출!
False

In [10]:
# A or B 형태의 연산에서 A가 참으로 평가되면, B는 평가되지 않고 바로 True로 결정

a = 'hello'
b = ''

In [11]:
a = 'hello'
b = 'world'

In [12]:
username = 'soohyun'

username = username or '이름을 정하지 않았습니다.'
username

'soohyun'

In [13]:
a = True
b = False

print(a and b)
print(a and b and aa and bb)

False
False

In [14]:
a = True
b = False

print(a or b)
print(a or b or aa or bb)

True
True

In [15]:
a = True
b = False
c = False

a or b and c

True

In [16]:
a = True
b = False
c = False
d = True

a and b or c and d

False

In [17]:
a = True
b = False
c = False
d = True

a and not b or c and d
(a and (not b)) or (c and d)

True

### 할당연산자

| 기호 | 이름 | 설명 | 예제 | 동일한 코드 |
| --- | --- | --- | --- | --- |
| //= | 몫 대입 | 연산자의 왼쪽 변수의 값을 오른쪽 값만큼 나눈 몫을 왼쪽 변수에 할당합니다. | a //= b | a = a // b |
| -= | 뺄셈 대입 | 연산자의 왼쪽 변수의 값에서 오른쪽 값을 뺀 결과를 왼쪽 변수에 할당합니다. | a -= b | a = a - b |
| **= | 제곱 대입 | 연산자의 왼쪽 변수의 값에서 오른쪽 값만큼 제곱한 결과를 왼쪽 변수에 할당합니다. | a **= b | a = a ** b |
| *= | 곱셈 대입 | 연산자의 왼쪽 변수의 값과 오른쪽 값을 곱한 결과를 왼쪽 변수에 할당합니다. | a *= b | a = a * b |
| += | 덧셈 대입 | 연산자의 왼쪽 변수 값과 오른쪽 값을 더한 결과를 왼쪽 변수에 할당합니다. | a += b | a = a + b |
| %= | 나머지 연산 대입 | 연산자의 왼쪽 변수의 값을 오른쪽 값만큼 나눈 나머지를 왼쪽 변수에 할당합니다. | a %= b | a = a % b |
| /= | 나눗셈 대입 | 연산자의 왼쪽 변수의 값을 오른쪽 값만큼 나눈 결과를 왼쪽 변수에 할당합니다. | a /= b | a = a / b |
| = | 대입 | 연산자의 오른쪽 값을 왼쪽 변수에 할당합니다. | a = b | a = b |

In [19]:
x = 5
y = 2
z = 10

x += y * z  # y * z 연산 후 x에 값을 할당
print(x)

25

### 식별연산자

In [20]:
coffee_employee = "Brand"
orange_employee = "Brand"

print(coffee_employee is orange_employee)
print(coffee_employee == orange_employee)

True
True

In [21]:
id(coffee_employee)

134227124292208

In [22]:
a = [1, 2, 3]
b = [1, 2, 3]
c = a

print('a == b', a == b)
print('a == c', a == c)
print('a is b', a is b)
print('a is c', a is c)

a == b True
a == c True
a is b False
a is c True

In [23]:
x = [1, 2, 3]
y = x
z = [1, 2, 3]

In [24]:
print(id(x))
print(id(y))
print(id(z))

134227138857920
134227138857920
134227138639744

In [26]:
x is y
# True입니다. 왜냐하면 둘 다 동일한 객체를 참조하고 있기 때문입니다.

True

In [27]:
x is z
# False입니다. 왜냐하면 둘은 서로 다른 객체를 참조하고 있기 때문입니다.

False

### 멤버연산자

| in | 값이 목록 안에 있으면 참(True)이에요.  |
| --- | --- |
| not in | 값이 목록 안에 없으면 참(True)이에요.  |

In [28]:
fruits = ["사과", "바나나", "포도"]

print("사과" in fruits) # True, 사과가 목록에 있어서
print("오렌지" not in fruits) # True, 오렌지는 목록에 없어서

True
True

In [29]:
a = [1, 2, 3, 4]
b = [1, 2, 3, 4]
c = 'hello world'

print(1 in a)
print(0 not in a)
print([2] in b)
print([1, 2] in b)
print('h' in c)
print('hello ' in c)

True
True
False
False
True
True

In [32]:
a = {'key1': 'value1', 'key2': 'value2'} #딕셔너리
b = {10, 10, 20}
10 in b # 출력: True
{10} in b # 출력: False, 주의
{10, 20} in b # 출력: False, 주의

'key1' in a # 출력: True
'value1' in a # 출력: False
('key1', 'key2') in a # 출력: False
# {'key1':'value1'} in a # error

False

In [33]:
'value1' in a.values()

True

in 연산자는 집합이나 dict에서 좀 더 높은 속도\
= 시간복잡도 측정\
in은 set, dict에서는 O(1)\
list와 tuple에서는 O(n)

시간 빠른 순서 : O(1) < O(n) < O(log n) < O(n^2) < O(2^n)

### 연산과 연산자 우선순위

| 순위 | 연산자 기호 | 설명 |
| --- | --- | --- |
| 1 | (값…), {값…}, [값…], {키:값…} | 튜플, 셋, 리스트, 딕셔너리 생성 |
| 2 | x[인덱스], x[인덱스:인덱스], x(인수…), x.속성 | 리스트와 튜플 인덱싱, 슬라이싱, 함수 호출, 속성 참조 |
| 3 | await x | await 표현식 |
| 4 | ** | 거듭제곱 |
| 5 | +, -, ~ | 부호, 비트 NOT |
| 6 | *, /, //, %, @ | 곱하기, 나누기, 내림 나눗셈, 나머지, 행렬 곱셈(numpy 등에서 활용) |
| 7 | +, - | 더하기, 빼기 |
| 8 | <<, >> | 쉬프트 연산 |
| 9 | & | 비트연산 AND |
| 10 | ^ | 비트연산 OR |
| 11 |  in, not in, is, is not,                              
<, ≤, >, ≥, ==, != | 멤버 연산자 식별 연산자 비교 연산자 |
| 12 | not | 논리 부정 |
| 13 | and | 논리 AND |
| 14 | or | 논리 OR |
| 15 | if else | 조건부 표현식 |
| 16 | lambda | 람다 표현식 |
| 17 | := | 할당 표현식 |

In [34]:
-2 ** 2

-4

In [35]:
True * True and True + False

1

In [36]:
# 복합 할당 연산자가 가장 나중입니다!
a = 10
a *= 10 + 100
a

1100