In [1]:
# 문제1
# 다음 변수들이 가리키고 있는 값에 화살표를 그려주세요.
# (z의 값은 무엇일까요?)

x = 100
y = 100
z = x
# z의 값은 100

print(id(x), id(y), id(z))

137310478323024 137310478323024 137310478323024

In [4]:
x = 258
y = 258
z = x
# z = 258

print(id(x), id(y), id(z))

137309984501168 137309984501392 137309984501168

In [9]:
# 문제2
# 다음 파이썬 문법 중 맞은 것을 골라주세요. (3개)

'''
1번
print = 100
= print 함수를 변수로 사용해서
2번
10 = a
= 10이란 숫자로는 변수로 사용할 수 없어서 a를 할당받지 못함
3번
k = 100
4번
100k = 10000
= 변수명 앞에 숫자가 올 수 없음
5번
a123 = 'abc'
6번
_ = 10
'''

# 3, 5, 6

"\n1번\nprint = 100\n= print 함수를 변수로 사용해서\n2번\n10 = a\n= 10이란 숫자로는 변수로 사용할 수 없어서 a를 할당받지 못함\n3번\nk = 100\n4번\n100k = 10000\n= 변수명 앞에 숫자가 올 수 없음\n5번\na123 = 'abc'\n6번\n_ = 10\n"

In [11]:
# 문제3
# 문자를 사용자에게 입력받고, 그 문자를 2번 출력하는 프로그램을 만들어주세요.
# 예를 들어 ‘abc’를 입력받는다면 ‘abcabc’를 출력해야 합니다.

user = input("입력해주세요 : ")
user * 2

입력해주세요 : abc

'abcabc'

In [18]:
# 문제4
# 아래 변수에서 중복을 제거한 유일한 숫자를 알아내는 코드를 작성해주세요.
# 형변환을 통해 풀어주세요.

n = 1234567890123123123
# set : 중복 제거, str : 정수형을 문자열로 형변환
len(set(str(n)))

10

In [22]:
# 문제5
# 문자열 s에 마지막에 있는 문자열을 2번 더 붙이는 코드를 작성해주세요.

s = 'jun'
s = s + s[-1] * 2

print(s)

junnn

In [23]:
# 문제6
# 'abcde', 숫자, 대쉬(-), 언더스코어(_)를 모두 제거해주세요.
# 문자열에 translate를 사용해주세요.

s = 'hello_world123'
s_t = str.maketrans('', '', 'abcde0123456789-_')
s.translate(s_t)

'hlloworl'

In [32]:
# 문제7
# 확장자를 출력해주는 코드를 작성해주세요.
# 확장자는 png, jpeg, mp4등 입니다.

s = 'licat.jpeg'
s.split('.')[-1]

'jpeg'

In [33]:
s = 'li.cat.png'
s.split('.')[-1]

'png'