<a href="https://colab.research.google.com/github/soohyun020812/ormcamp/blob/main/%5B%EB%B3%B5%EC%8A%B5%5D_24_01_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
# 문제9 : sep과 end를활용한 출력방법
# 다음 소스 코드를 완성하여 날짜와 시간을 출력하시오.

year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

'''
print(year, month, day, )
print(hour, minute, second, )

2019/04/26 11:34:27
'''

print(year, month, day, sep="/", end=" ")
print(hour, minute, second, sep=":")

2019/04/26 11:34:27

In [14]:
# 문제15 : 자기소개

'''
신학기가 시작되고, 아이들이 돌아가면서 자기소개를 하기로 했습니다.
만약 입력으로 `김다정`이라는 이름이 주어지면
```python
안녕하세요. 저는 김다정입니다.
```
라고 출력하게 해주세요.
'''

name = input()

print("안녕하세요. 저는 {}입니다." .format(name))

이수현
안녕하세요. 저는 이수현입니다.

In [15]:
# # 문제23 : OX문제
# print(10/2)의 출력 결과는 **5**이다.

# X (5.0)

In [27]:
# 문제39 : 오타 수정하기

'''
혜원이는 평소 영타가 빠르고 정확한 것을 친구들에게 자랑하고 다녔습니다.
반 친구들이 혜원이의 타자 속도가 빠르다는 것을 모두 알게 되자 혜원이는 모두의 앞에서 타자 실력을 보여주게 됩니다.

그런데 막상 보여주려니 긴장이 되서 문장의 모든 e를 q로, n을 b로 잘못 친 것을 발견했습니다.
혜원이는 프로그램을 돌려 재빠르게 모든 q를 e로, b를 n으로 바꾸는 프로그램을 작성하려고 합니다.

문장이 입력되면 모든 q를 e로, b를 n으로 바꾸는 프로그램을 작성해 주세요.
완성하려는 문장 안에 q나 b가 들어가지 않는다고 가정합니다.

입출력

입력 : querty
출력 : euerty

입력 : hqllo my bamq is hyqwob
출력 : hello my bame is hyewob
'''

# 문자열을 입력받기
data = input("입력하세요 : ")

# 입력된 문자열에서 'q'를 'e'로, 'b'를 'n'으로 바꿈
result = data.replace('q', 'e').replace('b', 'n')

# 결과
print("오타를 수정하였습니다. : ", result)

입력하세요 : hqllo my bamq is hyqwob
오타를 수정하였습니다. :  hello my name is hyewon